[2021-12-16 06:16] chainsawbike opened #1 "support for hybrid (sh) series of sungrow inverters"
Here is the official docs for the hybrid range:

[communication-protocol-of-residential-hybrid-inverterv1.0.20-1.pdf](https://github.com/bohdan-s/SunGather/files/7724948/communication-protocol-of-residential-hybrid-inverterv1.0.20-1.pdf)

I doubt I'll have time to add them myself until late Jan, so I'll leave them here incase someone else wants to add them before then

[2021-12-16 06:19] bohdan-s commented on #1
At quick glance most of these overlap. I should be able to add these in next week.
The model list is the key part. Update that and most the "standard" registers will work.

[2021-12-16 11:07] bohdan-s commented on #1
@chainsawbike Hi, I have added initial support for hybrid inverters.
Could you try with config options hybrid: true and level: 2 using the console export?
You should see everything up to register 13020. If it works i'll add the rest fo the registers :)

[2021-12-17 02:20] rark-ha opened #2 "Please make sure mqtt.py exists in the exports folder"
Upon loading I get the error message "Please make sure mqtt.py exists in the exports folder"

I can confirm it exists. I've set up the config file with the correct IP for the MQTT server, unhashed the port (but use the default 1883 anyway), and added a username/password using " " to capture them.

[2021-12-17 03:48] rvdblink opened #3 "Support for SG5K-D"
Hey mate,

I'm trying to run SunGather against a SG5K-D with a WiFi V31 dongle.
Modbus seems to not work:

But it might be its failing out because I can't see the SG5K-D being supported?

[2021-12-17 05:30] rvdblink commented on #2
pip3 install paho-mqtt should do the trick.

[2021-12-17 05:43] rark-ha commented on #2
Says it's already installed ("defaulting to user installation as package already installed...").

Looking at the console output I have the following error;

`Exception in thread Thread-1121:
Traceback (most recent call last):
  File "/usr/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.6/threading.py", line 864, in run
    self._target(*self._args

[2021-12-17 05:46] bohdan-s commented on #3
Looks like model detection is failing. Can you try adding the model to config.py and let me know if it works?

[2021-12-17 05:47] bohdan-s commented on #2
Looks like model detection is failing (as well as the other issue). Can you try adding the model to config.py and let me know if it works?
I'll add a better warning message and fail safe shortly.

[2021-12-17 06:00] rark-ha commented on #2
Added "SG10RT" to the config.py and still get the same timeout error when loading.

[2021-12-17 12:36] rvdblink commented on #3
Same story. I tried it with SG5KD, sg5kd, SG5K-D, sg5k-d; all give this:

I'd love to use http (which your tool also supports) but it seems the SG5K-D doesn't have a web stream running on 8052...

[2021-12-20 00:53] bohdan-s commented on #3
@rvdblink
Interesting the inverter doesn't come up as supported in the official documentation.
I have change the detection to be a bit more fail safe now.
Could you please try again? With:
  connection: sungrow
  model: "SG5KD"
This should work with the generic registers.

Could you also email info@sungrowpower.com.au and ask them for a copy of the modbus register for your model? The support look

[2021-12-20 00:55] bohdan-s commented on #2
Thanks, I've updated the requirements.txt and added it to the readme :)

[2021-12-20 00:59] bohdan-s commented on #2
@rark-ha Could you please try again (after git pull) with the following settings?
connection: sungrow
model: "SG10RT"
logging: 10

Then paste the output for me? I have updated the model detection as it didn't seem to be working correctly.

[2021-12-20 19:44] rark-ha commented on #2
Still fails for me an exits the script.

2021-12-21 06:33:18 INFO     Loaded config: config.yaml
2021-12-21 06:33:19 INFO     Loaded registers: registers.yaml
2021-12-21 06:33:19 INFO     Loaded Export: exports\console
2021-12-21 06:33:19 INFO     Configured Console Logging
2021-12-21 06:33:19 INFO     Configured export: console
2021-12-21 06:33:19 INFO     Loaded Export: exports\mqtt
2021-12-21 0

[2021-12-20 23:07] bohdan-s commented on #2
@rark-ha can you confirm you have the IP's correct in the config.py?
It seems the script couldnt connect to either the MQTT or Inverter IP address.

[2021-12-21 01:46] rark-ha commented on #2
!!!! it was my MQTT docker blocking IP requests. Sorry for the hassle. I had to remove the inveter model (let it auto-detect) otherwise it caused the other error above and would not publish any MQTT topics.

Topics now publishing and the inverter was added to Home Assistant with auto-discovery. But when I restarted my Home Assistant they all now show as 'Unavailable' (a second HA instance that has

[2021-12-21 01:49] bohdan-s commented on #2
Thats interesting about HA, I am having the same issue and thought it was a "me" issue.
I'll have a look into it.

[2021-12-21 02:09] bohdan-s commented on #2
@rark-ha I have just pushed a new commit that fixes the HA auto-discovery. Needed to set the retain flag for MQTT messages.

[2021-12-21 02:40] rark-ha commented on #2
Pulled the latest copy and that fixed it after a couple of restarts to test. Thank you @bohdan-s

I'd be keen on the Docker version to house this great setup.

[2021-12-21 06:09] bohdan-s commented on #2
Ok, initial docker build up, still some cleaning to do but should all be working
[code]

[2021-12-21 21:45] rark-ha commented on #2
Excellent. Docker now running with the same config.yaml file I had setup before.

After it was running, I opened up the browser (from a different machine) to view the Sungrow local HTTP page. I then started getting this warning message (for all the register ranges) and had to restart the docker container to fix.

`WARNING  No data. Try increasing the timeout or scan interval for read, 5000:100: 'r

[2021-12-22 00:58] bohdan-s commented on #2
PVOutput is a quick fix, send the timezone env to docker (-e TZ=Australia/Sydney) I have updated the readme to reflect that.
I will update the pvoutput export to use the the inverter time instead of local time, that will resolve the issue properly.

As for the other error, I can reproduce it myself. I'll have to update the SungrowModbusWebClient package and bump the required version. It seems the

[2021-12-22 01:08] rark-ha commented on #2
Fixed thank you. I'd noticed a few minutes before the hour that the log started giving "Exceeding 60" errors so I knew the data must have been getting through but couldn't see anything on the website to help diagnose.

I moved the IP address to the ethernet connection successfully, and now just use the WiFi dongle to view the web session. This doesn't cause any error with a single web session for

[2021-12-22 01:08] #2 closed

[2021-12-22 02:32] bohdan-s commented on #2
@rark-ha
There are 2 computed values export_to_grid and import_from_grid that are not listed in the registers.
If you see the readme, there is a section for HA, add the sensors listed, wait ~5mins for it to generate data and then you should be able to pick those sensors for Home Assistant Energy.
If they are returning 0 values, try enabling
smart_meter: True
in the config, as you need to have a sm

[2021-12-22 04:36] rark-ha opened #4 "Home Assistant sensor setup and Energy platform"
Following on from the comment in the closed item https://github.com/bohdan-s/SunGather/issues/2#issuecomment-999236995

@bohdan-s the updates you've made in the past 48 hrs have fixed my initial issue as HA now generates 6 sensors. For others that would like a walk-through doc please read below.

In the SunGather config.yaml you need to set the smart_meter if you have one;
[code]

HA sensors creat

[2021-12-22 05:18] rark-ha commented on #4
A tip for those using PVOutput.org.

If you're uploading from SunGather using the 60 limitation (free account), and you're also trying to use the Home Assistant integration to download from PVOutput.org then you need to step up to the donation account otherwise the up/down calls will max your 60 limit out within 30 minutes of each hour.

[2021-12-22 05:18] #4 closed

[2021-12-22 06:26] chainsawbike commented on #1
sorry, limited time right now.
detects inverter and prints 8 values,
6 are correct
these values are 0:
export_to_grid
import_from_grid

ps: no battery is connected to my system ( yet... )

[2021-12-23 11:30] gservat opened #6 "pvoutput values don't look right"
Thanks for the rewrite @bohdan-s! I just got around to trying it today. My config is as follows:

[code]

In `pvoutput.org`, I'm seeing all zero values except for temperature, which I guess makes sense based on the values of the registers:

![image](https://user-images.githubusercontent.com/1061151/147233526-2588ef61-2499-4b1b-8f0c-19d160e204a0.png)

[code]

I'll admit I still don't fully understa

[2021-12-23 21:41] gservat commented on #6
Is it possible that total power used by the household is equal to `total_active_power` + `meter_power`?

[2021-12-23 23:53] rark-ha commented on #6
Just checking that in your actual config file you have the API and KEY set.

[code]

[2021-12-23 23:56] bohdan-s commented on #6
@gservat I have updated the Readme to add some clarity, thanks.
Basically:
total_active_power = power generated by inverter
meter_power = power reading at meter box

so if meter_power is +ve, power is being IMPORTED from the grid, if its -ve then its EXPORTING.
total_active_power + meter_power = house consumption

e.g. if total_active_power = 5000 (5kw generated now) + meter_power = -2000 (exporti

[2021-12-23 23:57] bohdan-s commented on #6
@gservat if your load is always 0, I may have to add "extra" register that is total_active_power + meter_power.

You can also try "level: 2" or even 3 and see what other details your inverter returns.

[2021-12-24 01:08] MarkGardiner opened #7 "Not detecting correct inverter parameters?"
Apologies if this is something a bit silly, I haven't had much of a look into it myself. I have a SG5.0RT with the WiNet-S dongle. On a run I get:

I have tried setting:
`connection: http`
`model: "SG5.0RT"`
and it seems to work:

[2021-12-24 01:19] MarkGardiner commented on #7
Ok, it was just me being silly not setting it to use http as the connection method - I assumed it would auto detect that as well.

[2021-12-24 01:19] #7 closed

[2021-12-24 01:19] MarkGardiner commented on #7
BTW thank you so much!

[2021-12-24 02:28] bohdan-s commented on #4
@rark-ha can you check the PVOutput again with the latest build (0.1.1)?
It should now respect the rate limit and spread it out over the 1 hour now.
Make sure "rate_limit: 60" is set in the pvoutput config section.

[2021-12-24 02:31] bohdan-s commented on #1
@chainsawbike when you get time, upload to the latest build,
It now has a http export (simple web server)
enable it in the conifg and set "level: 3" for the inverter.
Open the url and you should see a all the registers, let me know what ones are missing / 0 and i'll look into it.

[2021-12-24 02:48] gservat commented on #6
yeah - i redacted those.. it's not an issue with the connection to pvoutput but more in the data itself.

[2021-12-24 02:53] gservat commented on #6
Yeah, looks like `load_power` is always `0` for me.

Quite a bit more! Getting this info:

[code]

[2021-12-24 03:04] rark-ha commented on #6
I've you're producing 3595W and your consumption is 242W then you should be exporting to the grid.

Are you sure you have a smart meter installed (or installed correctly)?

Does your PV, Grid and Load figures look correct in iSolarCloud?

[2021-12-24 03:09] gservat commented on #6
I think this is saying I'm producing (and consuming) 3595W but also drawing in 242W from the grid (total of 3837W being consumed).

[2021-12-24 03:13] bohdan-s commented on #6
@gservat i think you are right,
I think the load should be 3837W instead of 0.
Do you have a smart meter installed with the inverter? DTU666 or something usually.

I can set load_power to a formula if 0, that will give the answer, but I wonder if its behind another register...

Can you try level: 3 (everything) and look for export_power and power_meter. These are both undocumented but used in Sola

[2021-12-24 03:18] gservat commented on #6
@bohdan-s yes, smart meter is installed (not sure which but it's definitely there).

Just bumped level to 3 and I see `export_power` showing `1590` (I guess this means importing from the grid? as iSolarCloud also shows I'm importing roughly this amount) and `power_meter` is `0`. Full list of registers:

[code]

What I also find a bit strange is that pvoutput is showing 0 values for power generated

[2021-12-24 03:32] bohdan-s commented on #6
API:
[code]

Config:
[code]

Notes from API spec:
_Power can energy values can be derived from one another. When a system sends only power values v2 and v4 the corresponding energy values are automatically calculated.

Similarly when only energy values v1 and v3 are sent, PVOutput will calculate the average power._

Since you are only sending values for v1 and v2 it can't calculate the values corr

[2021-12-24 04:06] rark-ha commented on #4
Pulled latest and ran without issue. PVOutput recevied the figures throughout the hour without issue. I think my original issue was pushing to PVOutput with SunGather and pulling from PVOutput with Home Assistant (and hitting the 60 per hour issue around the 40min mark).

`work_state_1                             Derating Run`

It would be good to create a sensor in HA to show when it's limiting t

[2021-12-24 04:15] bohdan-s commented on #4
Yup, should be able to add that no problem.
I also wanted to add “is_running” but currently I have hard coded the discovery as sensors, so need to update for that as well.

[2021-12-24 05:18] gservat commented on #6
That looks much better @bohdan-s! Seeing some proper values in pvoutput.org now:

![image](https://user-images.githubusercontent.com/1061151/147319549-85d28827-2219-467c-a08f-7968c00f9351.png)

Thanks again for your help!!

[2021-12-25 09:29] #6 closed

[2021-12-26 04:01] rianbk opened #8 "Support for SG8K-D Inverter"
Hey,

Firstly thanks for this, been working on something like this personally but found yours on whirlpool.
The script seems to be working in some capacity but I don't think you directly support this model.

[code]

I have sent a request to sungrowpower for the modbus register

[2021-12-26 05:40] rianbk commented on #8
Looking into it, it looks like im not getting total_active_power

[2021-12-26 05:48] bohdan-s commented on #8
Can you confirm you are on 0.1.1? (It shows version on startup).
also what do you get for total_aparent_power?

[2021-12-26 06:06] rianbk commented on #8
I can't see it pushing a version to the logs. But it is the latest docker image.

<html>
<body>

Register | Value
-- | --
device_type_code | 9219
nominal_active_power | 8.0
output_type | 2P
daily_power_yields | 43.4
total_power_yields | 1624.7
total_running_time | 11796
internal_temperature | 59.4
total_apparent_power | 65535
mppt_1_voltage | 378.2
mppt_1_current | 2.1
mppt_2_voltage | 314.6
mppt_

[2021-12-26 06:08] rianbk commented on #8
[logs.txt](https://github.com/bohdan-s/SunGather/files/7776614/logs.txt)
Here is a logs output for a few runs.

[2021-12-26 06:10] rianbk commented on #8
![chrome_EO8gOpMSjo](https://user-images.githubusercontent.com/3753933/147400477-0d904153-5b90-44fb-b089-79f58dd3eefa.png)

[2021-12-26 06:12] bohdan-s commented on #8
I can see total_active_power listed. Yay so it means the inverter supports it.
Could you email info@sungrowpower.com.au and ask them for a copy of the modbus register for your model?
They will only provide it for devices registers to your account.
If you manage to get it I can update the registers list with registers supported.
otherwise you can run with level 3 (which returns everything)
The othe

[2021-12-26 06:13] rianbk commented on #8
Email has been sent, i'll let you know if I get a response.

[2021-12-26 06:15] rianbk commented on #8
@bohdan-s its failing on the export for mqtt, due to there being no model detected, is there a way i can supply this manually without breaking anything? ie: just override the topic:tele/inverter_SG8K-D/SENSOR

[2021-12-26 06:17] bohdan-s commented on #8
Ahhh yes. The hyphen in the model is the issue.
I’ll fix that tonight for you.

[2021-12-26 06:18] bohdan-s commented on #8
I can see a few things in the log to fix up and improve the error checking.
If they supply the registers it will be easier. Otherwise I’ll have a look at the logs and make some “educated guesses” for your model.

[2021-12-26 08:45] rianbk commented on #8
No problem, i'll let you know and I'm around for testing.

[2021-12-26 23:52] dbonnell commented on #8
I have an SG8K-D too, and I just started working on adding support today.  To add recognition of the model, simply add the following two lines to registesr.yaml at line# 118-119:
`- response: 0x2403`
`          value: "SG8K-D"`

I then inspected the level 3 regsister dump to see what was/n't supported and updated the model map for the main ones.
![image](https://user-images.githubusercontent.com/1

[2021-12-27 00:01] rianbk commented on #8
Might be worth putting in a pull request if you have the time.

[2021-12-27 03:03] rianbk commented on #8
Note sure if there is something wrong with the export but getting repeating energy values on the export to PVoutput.
![image](https://user-images.githubusercontent.com/3753933/147430094-9e1776ea-b783-4153-94c8-813e1e3b4569.png)

[2021-12-27 03:43] bohdan-s commented on #8
The energy is a calculated value.
I also have the same issue yesterday, but not today or previous days.

I'll do some troubleshooting with a few days of logs and see if I can find the cause.

[2021-12-27 03:44] bohdan-s commented on #8
I should have a massive bunch of fixes and improved error support next week.
I'll ask I add the registers and hopefully we will get an official list back and I can add the whole series of inverters.

[2021-12-27 05:26] dbonnell commented on #8
Looked ok for me in influxdb (via mqqt export).

![image](https://user-images.githubusercontent.com/12192700/147437062-63a61830-6581-4a05-88df-a6219f818df8.png)

I just enabled PVoutput export to test.  I'm using the default scan interval in SunGather (30s) and default metric interval in PVoutput (5min), and it all seems ok there, too.

![image](https://user-images.githubusercontent.com/12192700/1

[2021-12-27 05:30] bohdan-s commented on #8
Thanks @dbonnell that confirms what I am seeing as well.
I have started adding some failsafe code so if no / invalid data is detected to skip export and log it.
It also seems some registers (like temperature) only work in running state, so need to 0 or not upload to the exports.
I'm currently thinking 0 for invalid values.

[2021-12-27 05:38] rianbk commented on #8
I can't see any errors in the log
[log.txt](https://github.com/bohdan-s/SunGather/files/7778538/log.txt)

Still getting something weird with power generated
![image](https://user-images.githubusercontent.com/3753933/147438153-fb4c4417-04b6-480f-9df3-f4569d9d9321.png)

[2021-12-27 05:41] rianbk commented on #8
I've deleted the outputs for today in PVoutput, lets see what that does

[2021-12-27 05:43] dbaines commented on #3
I have an SG5K-D and a v31 wifi dongle as well. I'm getting output on the http export server and the numbers seem pretty accurate.
I'm running in docker with the config model commented out so I guess it's autodetecting fine.
I enabled smart_meter and I enabled use_local_time because the inverter wasn't reporting DST correctly, it was an hour behind.

However the MQTT export is failing. I'm guessin

[2021-12-27 05:46] bohdan-s commented on #8
Yea, I am going to clear the payload each time now. Rather than leave old values.
It leaves me a few issues to resolve, currently it doesn't "force" any registers it just loads what it can and skips the others. So if it fails to read temp overnight the old value never gets cleared.

[2021-12-27 05:52] bohdan-s commented on #3
Yes, it doesn’t support “.” or “-“ in MQTT topic. I need to clear the “-“ from the model, which I have done. Just need to push and build docker again. Should hopefully be able to do that soon.

[2021-12-27 21:54] rianbk commented on #8
Looks like my dupe issue might be related to a script i had for backfilling data. No issues today so far.

[2021-12-27 22:06] rianbk commented on #8
I was having an issue in PVoutput where energy wasn't being calculated.
![image](https://user-images.githubusercontent.com/3753933/147510076-6a8de6f2-d82a-4f02-83e0-ab3a2b0e039c.png)

 I have stopped exporting v1 and this has resolved that
![image](https://user-images.githubusercontent.com/3753933/147510112-a63c050f-fee6-46b9-b173-86ac1ce588df.png)

[code]

[2021-12-28 06:07] dbonnell commented on #8
I have no issues with pvoutput
`
parameters:
      - name: v1    # Energy Generation
        register: daily_power_yields    # Solar Generated Today (Energy)
        multiple: 1000
      - name: v2    # Power Generation
        register: total_active_power    # Current Generation (Power)
#     - name: v3    # Energy Consumption
#       register:
      - name: v4    # Power Consumption
        regi

[2021-12-28 06:23] dbonnell commented on #8
One thing to watch out for .. when you restart SunGather, it will always export to pvoutput on the first cycle and then every minute thereafter.  As pvoutput uses the difference between consecutive values of v1 to calculate Energy for the 5 min interval.  This can lead to weird values when you're playing around with SunGather, but once it's been running for > 5 mins the values for the next full in

[2021-12-28 22:51] dbonnell commented on #8
P.S. I've emailed Sungrow Australia to see if they'll provide an official register map.  I'll add the full list if/when I receive it.

[2021-12-29 02:53] rianbk commented on #8
Noticed today that talking to the system failed at midnight and kept failing

[code]
Restarting the container fixed it.

[2022-01-02 04:12] dbonnell commented on #8
A couple of typos in registers.yaml:
"Initial Stanby" should be "Initial Standby" at line# 331 and #429

[2022-01-03 06:07] dbonnell commented on #8
I've adapted the iammeter Grafana dashboard template to work with the Sungrow data.  The MQTT export from SunGather is pushed into InfluxDB using Telegraf, and the dashboard queries the Sungrow measurements in the telegraf database in InfluxDB.

The biggest pain was the "This Month" panel at the far right.  To be able to calculate the month-to-date figures I used the Telegraph date processor to ad

[2022-01-04 21:36] dbonnell commented on #8
I noticed my Monthly panel in Grafana was out of whack and when I investigated, I found the total_* registers values aren't right.  Not sure why.
[code]

The daily_* registers are fine.
[code]

No response from Sungrow as yet (other than automated reply) to my request for the official modbus map :-(

[2022-01-04 21:47] rianbk commented on #8
I got a response but it wasn’t helpful

“ Unfortunately, SG8K-D doesn't have spare RS485 ports to connect to other devices.”

[2022-01-04 23:52] bohdan-s commented on #3
@dbaines could you provide the device_type_code? I'll add it to the auto-detection code for future as well.

[2022-01-05 00:03] dbaines commented on #3
@bohdan-s sure thing, this is what the http logging shows:
[code]

[2022-01-05 04:15] bohdan-s commented on #8
Ok, a few things to answer here :)

@dbonnell looking at your totals they seems to be multiples 65535 off the expected value, or Int16 instead of int32.
They should now be read as int32 (values higher than 65535).
I have also fixed the code so 65535 values (in modbus 0xFF or no response) will now be 0, this will be easier to graph.
I'll publish 0.1.2 with a heap of fixes today, just finishing off

[2022-01-05 04:29] bohdan-s commented on #3
@dbaines I have published v0.1.2 to git and Docker.
It should fix the model detection errors, and add support for your model.

[2022-01-05 04:32] bohdan-s commented on #8
I have published v0.1.2 to git and Docker. @rianbk @dbonnell  can you let me know if you see any issues?
The Home Assistance Discovery is a bigger job, that requires breaking changes to config file, so I'll publish that later this week hopefully.
@dbonnell  any change of sharing your template? I'll upload it here and add some instructions to README on usage if thats ok?

[2022-01-05 07:26] dbonnell commented on #8
Will pull it down and let you know how it goes.  Thanks very much (again) for your work.

More than happy to share the Grafana template.  I was planning to do that once I fixed the "Monthly" panel, but if anyone wants to play around with it, here it is:
[SunGather.zip](https://github.com/bohdan-s/SunGather/files/7812698/SunGather.zip)

Before using it, you'll need to add a data source for InfluxDB

[2022-01-05 07:53] bohdan-s commented on #8
Thanks @dbonnell
I am currently putting together a InfluxDB export, so that should make it a bit simpler going forward.

[2022-01-05 09:03] dbaines commented on #3
@bohdan-s Thanks, appears to be working beautifully now! My inverter is being detected as SGK5-D and the MQTT is no longer erroring.

I've noticed in the logs that everytime it publishes to MQTT there appears to be an exception thrown on the modbus connection:

[code]

This might be related to the exception thrown but I'm only getting a single auto-discovered sensor in Home Assistant, 'Daily Gener

[2022-01-05 09:08] bohdan-s commented on #3
Thanks for the log, it seems I fat fingered a value.
I'll push a fix tomorrow. Sorry about that.

[2022-01-05 22:36] dbonnell commented on #8
Awesome.  I was thinking of working on that after I finished the Grafana dashboard but you're a step ahead of me!
-------- Original message --------From: bohdan-s ***@***.***> Date: 5/1/22  5:53 pm  (GMT+10:00) To: bohdan-s/SunGather ***@***.***> Cc: David Bonnell ***@***.***>, Mention ***@***.***> Subject: Re: [bohdan-s/SunGather] Support for SG8K-D Inverter (Issue #8)
Thanks @dbonnell
I am curre

[2022-01-05 22:58] dbaines commented on #3
It seems like at some point overnight it started failing, I assume when the inverter goes to sleep overnight but I can't be certain.

[code]

Restarting the docker container fixed the issue.

[2022-01-05 23:00] bohdan-s commented on #3
@dbaines is it possible the inverter turns off over night?
I'll see if I can get some more resilience in the code to re-start the connections in the case of an error

[2022-01-05 23:07] dbaines commented on #3
@bohdan-s yep I think it does

[2022-01-05 23:14] rianbk commented on #8
Allright, i'm updated and testing

[2022-01-06 04:33] dbonnell commented on #8
I've updated and merged my changes.  My Grafana dashboard stopped working right afterwards.  Telegraf is reporting the following error:
[code]

I can see in the mqtt export debug output that it is emitting a `timestamp` field, which is what I have configured in Telegraf as the `json_time_key` on the `[[inputs.mqtt_consumer]]`
[code]

I'll take a look at that later when I have some time.  Other tha

[2022-01-06 04:46] dbonnell commented on #8
I restarted Telegraf and that error went away but nothing going to influx.  Checked with mosquitto_sub and the topic has changed ... was `tele/inverter_SG-8KD/SENSOR` but is now `tele/inverter_SG8KD/SENSOR`, so my Telegraf config wasn't forwarding anything to influxdb.  Back working again.

[2022-01-07 02:52] dbonnell commented on #8
The inverter wifi network disappears once there's no solar input, but the wifi auto reconnects when its available again in the morning.  I got disconnect errors from SunGather, which I expect, but once the network was back up, I started getting these errors and it never recovered.
[code]

I had to restart SunGather this morning to get it working again.  It shows the correct device_type_code so eit

[2022-01-07 06:09] bohdan-s commented on #8
@dbonnell I have pushed v0.1.3 that should better handle a connection being dropped, and cleaner reconnections.
Thank you for all your testing, it has been a huge help.

[2022-01-07 06:12] bohdan-s commented on #8
V0.1.3 also has a influxDB export now.
Check the example config file for options.
I'm pushing to a cloud insurance at the moment, but having never used influxdb before this is all new to me :)
Let me know how it goes. You can pick and choose what to export in the config.

[2022-01-07 06:13] bohdan-s commented on #3
v0.1.3 should resolve issues with connection being dropped.
Could you test for me when you have time?

[2022-01-07 09:26] dbaines commented on #3
Thanks @bohdan-s
I've updated but now it seems like the export isn't working

[code]

[2022-01-07 09:34] bohdan-s commented on #3
Can you provide more of the log?
The app reads registers in 100 register blocks. It looks like at least 1 of those blocks is failing, but not containing any of the registers you were using.
If you are using docker you can use tag v0.1.2 to revert back, or wait till tomorrow and I'll push a version with a fix after you send a longer log.

[2022-01-09 00:12] dbonnell commented on #8
Seems to have done the trick .. reconnected without issue this morning.  Great job!

I'll test the influxdb export tomorrow.

[2022-01-10 02:38] rianbk commented on #8
Things are looking pretty good for me. The connection handling seems to be working good. Mine used to disconnect nearly everyday at midnight. Its now continued on for a few days now no issues. seamless export to pvoutput.

[2022-01-10 23:48] dbonnell commented on #8
I've fixed the Monthly panel and a few other issues such as wrong unit conversion in the Last 1 month Yield and Consumption charts.

![image](https://user-images.githubusercontent.com/12192700/148856831-0ac71751-ce36-4cd9-91ce-c1e9d34d726b.png)

[Grafana_SolarSystem.zip](https://github.com/bohdan-s/SunGather/files/7842577/Grafana_SolarSystem.zip)

The connection has been rock solid since upgrading

[2022-01-13 09:05] bohdan-s commented on #3
@dbaines @rvdblink
I have pushed a huge update to v0.2.0. The way registers are processed has been re-writen so it should now only access the correct registers, and be much quicker.

[2022-01-13 09:09] bohdan-s commented on #8
@rianbk @dbonnell
I have pushed a huge update to v0.2.0. Re-writen most the PVOutput and MQTT code, as well as the way registers are read.
Should be significantly faster (each scan went from 4s+ to 1.5s on my machine) and much more robust.

Interesting thing with PVOutput is it only accepts 1 update per 5 minutes. I have now re-writen the code to take every inverter scan over the 5 min window and

[2022-01-13 09:35] rianbk commented on #8
Amazing, I’ll update and test.

[2022-01-13 10:54] dbaines commented on #3
Thanks @bohdan-s I have updated but I still seem to be getting the modbus error:

[code]

[2022-01-13 11:02] dbaines commented on #3
Thanks @bohdan-s setting level back to 1 did the trick! Looks like it's all working now, I'll monitor and let you know if I run in to any issues :)

[2022-01-13 11:08] bohdan-s commented on #3
@dbaines just pushed v0.2.1 so if only some of the scans fail it will continue with a warning, if all fail then it will flag as an error. This should allow level 3 to work again.
I would suggest staying level 1 for day to day use as it will be much faster, level 1 is 1.5s on my inverter, level 3 is 7s per scan.

[2022-01-13 22:52] dbonnell commented on #8
Thanks @bohdan-s

I've updated and all seems to be working, but noticed this warning:
[code]

In registers.yaml (line# 258) I've changed `phase_a_voltage`) to level 1.  Not sure if this makes sense as a default or perhaps it the defined level for registers should be ignored for all registers configured explicitly for active exports?

[2022-01-13 23:03] bohdan-s commented on #8
Thanks, that was a typo :/ i set MPPT_1_voltage to level 1 instead of phase_a_voltage.
I republished 0.2.2 with the correct register, no big deal if you already did it manually.

[2022-01-13 23:51] bohdan-s commented on #3
You should also be getting the running state of On or Off feed into HA as well now :)

[2022-01-14 00:44] dbonnell commented on #8
Perfect, thank you

[2022-01-16 08:50] daloser commented on #8
Thanks for all your work @bohdan-s!
I had it working for my SG8K-D and it was reporting over mqtt into home assisstant. However I was having issues with it overnight failing and sometimes wouldn't reconnect. I have updated to 0.2.2 and redone the config file, but now i have issues with it reporting in mqtt; the web server report is coming out correctly.

Here is a snippet of the console if you can

[2022-01-16 08:52] bohdan-s commented on #8
Can you double check the IP for the MQTT server is correct? If you are using the Mosquito one built into HA then it will be same IP as HA.

[2022-01-16 09:01] daloser commented on #8
fast reply ever haha :) thanks for having a look. Yes IP address in config file for MQTT is correct for HA/MQTT server (using mosquito built into HA with default ports too)

[2022-01-16 09:07] bohdan-s commented on #8
Can you try restarting HA Host? Maybe a MQTT client ID conflict. Easiest way is to restart the MQTT component (or whole host). I'll add some code to check for this and change client in next build.

[2022-01-16 09:15] daloser commented on #8
Restarted a few times, also reinstalled the MQTT addon just incase - still no luck.
I am getting MQTT hits in the log it seems, but no Integrations or devices.

Mosquitto broker log:
1642324204: New connection from 192.168.1.211 on port 1883.
1642324204: New client connected from 192.168.1.211 as pv_data (p2, c1, k60).
1642324236: Socket error on client pv_data, disconnecting.
1642324236: New conn

[2022-01-16 09:22] bohdan-s commented on #8
Hmmmm I got those same errors during testing as well. But stopping SunGather, restarting MQTT and then starting SunGather resolved the error and I couldn't reproduce it again.
I'll have a look at it tomorrow and see if I can find the source.

[2022-01-16 23:46] bohdan-s commented on #8
@daloser
Just pushed 0.2.3 with some improved code to detect if exports are failing.
Can you confirm the IP and Port in the config match the log (of it fails again)?

[2022-01-17 00:18] daloser commented on #8
I have updated and reconfig - and no error in the console; and seems to be reporting to MQTT broker; but im not getting any devices detected, so maybe an issue for me there. mqtt addon log:
1642378160: New client connected from 192.168.1.211 as SunGather (p2, c1, k60).

If I stop Mosquitto broker - i get error in the log; so the error report is working:
2022-01-17 10:42:29 ERROR    MQTT: Connectio

[2022-01-17 00:26] rianbk commented on #8
I've been getting funny exports to pvoutput, no generation is getting calculated on the graphs properly
![image](https://user-images.githubusercontent.com/3753933/149684271-2e9f8037-f250-4d3c-855d-a8e37268c0fd.png)
I'll try updating and restarting.

[2022-01-17 00:44] rianbk commented on #8
I also can see it publishing MQTT, seems to be updating the topic fine, but homeassistant isn't discovering the inverter.

[2022-01-17 00:47] rianbk commented on #8
@bohdan-s i've commented out the internal tempreture, but it seem we are potentially exported a value of 0 (the orange line on the graph) instead of sending nothing.
![image](https://user-images.githubusercontent.com/3753933/149684999-0aaa7bda-cbe1-49e7-8d05-b3c10e87abb7.png)

[2022-01-17 03:35] dbonnell commented on #8
Did you also comment out the v5 parameter for inverter_temperature in the parameters section of pvoutput in config.yaml?

[2022-01-17 03:37] dbonnell commented on #8
@bohdan-s Two typos in sungather.py, line# 139
[code]

Should be "Inverter" and "scraped".

[2022-01-17 03:55] bohdan-s commented on #8
You are all to quick for me!
@dbonnell fixed :)
@rianbk I have pushed 0.2.4. You are correct, i was cheating and sending '0' instead of no value. This was causing issues.
I have now set it, so you if you send v2 and v4 then it will calculate correctly, It was missing the "net data" flag.
It will now not send a 0 if there is no setting for it in the config.yaml.

[2022-01-17 03:55] rianbk commented on #8
Shall update and test :)

[2022-01-17 03:57] dbonnell commented on #8
@bohdan-s pvoutput is also no longer working for me.  Console output says it is logging to pvoutput but the last data I have in pvoutput is Jan 14.
[code]

[2022-01-17 03:58] bohdan-s commented on #8
@dbonnell for the temperature, do you have a link to that discussion? I can not find anything about what temp it should be?

PVOutput only updates every 5 minutes, so need to wait :) its very annoying when testing

[2022-01-17 04:01] dbonnell commented on #8
Yeah, I can see data again now.  Thanks.

Here's that post that discussed the use of v5 in pvoutput

https://forum.pvoutput.org/t/what-temperature-is-used-to-calculate-insolation/2106

[2022-01-17 04:05] bohdan-s commented on #8
@dbonnell thanks, I'll add the forum link to the config-example and comment it out by default.

[2022-01-17 04:07] bohdan-s commented on #8
@daloser the MQTT update should fix HA. I had to remove the device in HA and restart SunGather for it to re-create with the correct data.

[2022-01-17 04:11] daloser commented on #8
THanks - ill update and retest shortly. Thanks for the fast support and edits :) 👍

[2022-01-17 05:41] rianbk commented on #8
@bohdan-s I seem to be getting a interesting results on pvoutput. I've deleted the data from the day. On the first push i get all the data since the container has been running, then the second push i loose the power data
![image](https://user-images.githubusercontent.com/3753933/149713667-3eeb6c5e-43f4-41e3-a2f7-5db4c898fa28.png)
![image](https://user-images.githubusercontent.com/3753933/149713688

[2022-01-17 05:50] bohdan-s commented on #8
@rianbk I was just looking at my PVOutput and thinking the same,
I think its because I have set the Net Data flag on (which we need) something funny is happening with the days data.
I also notice it is pushing the power/energy to 2 decimal places which might be messing it up as well.
Just pushed 0.2.5 that fixes the decimal places, looks like data is correct now for me, it takes a while to update

[2022-01-17 05:51] bohdan-s commented on #8
As for HA, do you see it under Config > devices > devices > Solar Inverter?

[2022-01-17 06:34] rianbk commented on #8
I deleted it a few versions back (when topics where getting renamed) and its never discovered again since (its not there)

[2022-01-17 06:57] bohdan-s commented on #8
Ahh check the config-example I renamed the config setting as not to break older versions.

[2022-01-17 07:01] bohdan-s commented on #8
No, I didn't update the example. Hold on. I'll push the right config-example

[2022-01-17 07:11] bohdan-s commented on #8
My fault, i pushed a old version of the config-example. Sorry
I have updated it now, MQTT section should look like the (notice the HA_Discovery and HA_Topics name changes:

[code]

[2022-01-17 07:15] rianbk commented on #8
Might be worth having a version check in the config in case you update to version with outdated config syntax

[2022-01-17 07:58] rianbk commented on #8
Updated to the latest config, now getting

[code]

[2022-01-17 08:49] daloser commented on #8
Updated to 0.2.5; edited the new config file - all the changes match your example abloe. I am not getting any errors in the terminal; web server working and reporting stats but still no devices/sensors found in HA

[2022-01-17 22:07] bohdan-s commented on #8
Can you try setting   smart_meter: True in the inverter section?

[2022-01-17 22:19] bohdan-s commented on #8
@daloser can you try Configuration > Devices > Mosquitto broker > Configure > Listen to a topic > homeassistant/sensor/inverter/daily_generation/config and see if it outputs anything when you start SunGather?

@rianbk I thought about a config version, but I really dont want to change it again going forward. I am hoping that (unless @rianbk , @dbonnell , @daloser have anything to add) that SunGathe

[2022-01-17 22:23] rianbk commented on #8
Whoops, missed that. All working now.
I have also resolved my MQTT issue, turns out that was on my end with the HASS broker integration (all of my MQTT was broken)

[2022-01-17 22:24] rianbk commented on #8
I'll keep this Issue open for now as we have kinda used it as a catch all. But when it looks like everyone is happy I will close it so new issues can be logged separately.

[2022-01-17 23:26] dbonnell commented on #8
Exports failed this morning (SunGather 0.2.5).  The console said the whole time it was successfully exporting to pvoutput but failed to export to MQTT.  But there was just the single data point in pvoutput at 5:30AM and nothing at all in Grafana until after I restarted just now.

Here's an excerpt from the log from just prior to reconnecting to the inverter at 05:26:44AM and just before the restar

[2022-01-17 23:27] bohdan-s commented on #8
@dbonnell yup, saw that myself, pushing 0.2.7 give me 30 mins :)

[2022-01-18 00:46] bohdan-s commented on #8
Sorry, 0.2.7 has been pushed, now connects to PVOutput API, confirms system and respects PVOutput interval status rather than being set manually. Also fixes the 0 values.
It will now also join SunGather team, so if you don't want that add join_team: False to the pvoutput config. This will let me see when there are issues with data upload, and how many users without adding any trackers etc...

[2022-01-18 01:54] daloser commented on #8
updated to 0.2.7; and did as you suggested for the broker to listen to a topic, still nothing in devices/entities. SunGather running with no errors and outputting to webserver. IPs are correct; not sure if i have missed anything else

inverter:
  host: 192.168.1.132                       # [Required] IP Address of the Inverter or Dongle
  # port: 502                               # [Optional] Defa

[2022-01-18 01:55] daloser commented on #8
[config.txt](https://github.com/bohdan-s/SunGather/files/7885588/config.txt)

[2022-01-18 02:22] bohdan-s commented on #8
@daloser when you added homeassistant/sensor/inverter/daily_generation/config to the listen and restarted SunGather did anything appear under the box in Home Assistant?
Otherwise try something like: http://mqtt-explorer.com/ to connect and see if any messages are being published into MQTT

[2022-01-18 06:55] dbonnell commented on #8
Back in business!  Thanks a ton @bohdan-s !

[2022-01-18 07:23] daloser commented on #8
Nothing appeared below the box when configed to listen and restarting SunGather.

When i use MQTT explorer i see this; so it is broadcasting, just not seeing it in HA  - *shrug*  :-)
![image](https://user-images.githubusercontent.com/44383327/149888119-4b960298-9378-4cd9-a067-5ac675839187.png)

[2022-01-18 07:39] bohdan-s commented on #8
Can you click on "homeassistant" topic then on the right click the trash can to delete it.
That will clear the auto discovery. Then restart SunGather

[2022-01-18 08:44] mistaoh opened #9 "HA_discovery"
First of all, Awesome work! Also, huge thanks for the webclient. I had kind of given up hope of reading out my data for me the webclient works great. (SG10RT)
But I have some issues and I'll file them one by one so there will be 2 more.

I cant seem to get HA_discovery to work. I get a line in the MQTT log but that's the only thing that happens.
`1642493332: New connection from 192.168.10.87 on po

[2022-01-18 08:45] mistaoh opened #10 "Influx DB api token"
Using the InfluxDB addon in HA, I cant find any simple way of creating the influxDB api token. Is there any way of connecting using username and password as with Solariot?

[2022-01-18 08:47] mistaoh opened #11 "PV Output team"
The default team joining does not work if you have to few outputs. I got this response until i changed to join_team: False
`2022-01-18 09:28:17 ERROR PVOutput: Team update Failed; 400 Message; b'Bad request 400: Your system must have at least 5 outputs to join a team'`

[2022-01-18 08:56] mistaoh commented on #9
Sorry, updated the config and that solved the issue.

[2022-01-18 08:56] #9 closed

[2022-01-18 08:59] daloser commented on #8
we are back in business!
Thanks so much for your help!

![image](https://user-images.githubusercontent.com/44383327/149904142-66d58951-5594-4976-8a1b-00f3f0514bb4.png)

[2022-01-18 22:06] rianbk commented on #8
@bohdan-s for some reason overnight, its disconnected from mqtt, and has a issue pushing to pvoutput
[logs.txt](https://github.com/bohdan-s/SunGather/files/7892654/logs.txt)

[2022-01-18 22:39] dbonnell commented on #8
I see the same.
[code]

Restarting SunGather resolves the issue.

[2022-01-18 23:19] dbonnell commented on #8
Looking at the Paho MQTT docs, there's an on_disconnect callback that can be configured to proactively attempt reconnection before we get to the point that a publish fails but if that reconnect attempt fails, it won't get another disconnect message and try again, so we'd still need to handle that when publishing, anyway.

[2022-01-19 04:59] bohdan-s commented on #8
Same as always, 0.2.8 published, heaps of fixes. Was PVOutput uplaoding every 5 mins, on 5 mins this was causing issues if it failed. Removed most the threading so should be more reliable now.

[2022-01-19 05:22] rianbk commented on #8
Updating and monitoring

[2022-01-19 10:54] benni336 opened #12 "Setup SH10RT/SH8RT - time out"
Hi,
I am just setting up my stuff and I would like to support this work with some documentation work, coding what ever. But currently I am struggling a bit.

At first I am just happy with gathering data via Modbus. All the Database setup (mqtt/influx) can come later (if not needed), when the data is flowing. The webpanel is accessable but shows no data.

I enabled console for debug mode and saw th

[2022-01-19 15:15] benni336 commented on #12
This issue can be closed.
I could fix it.

First you need to know that I could only make modbus work on the ethernet jack that is build into the converter.

Second you need to know that there seems to be some firewalling that only allows packages from same IP-range.
So everyone who might do some fancy VLAN stuff to shutdown unwilling traffic from IOT-devices, must know that masquerading traffic he

[2022-01-19 21:15] daloser commented on #8
0.2.8
Was working up until just after midnight;

2022-01-19 23:05:29 INFO     Starting SunGather 0.2.8
2022-01-19 23:05:29 INFO     Loaded config: config.yaml
2022-01-19 23:05:30 INFO     Loaded registers: /home/pi/SunGather/SunGather/registers.yaml
2022-01-20 00:06:14 WARNING  Modbus connection failed: Modbus Error: [Input/Output] Modbus Error: [Invalid Message] No response received, expected at

[2022-01-19 22:05] bohdan-s commented on #12
Closing, will add clarification to Readme on requirements :)

[2022-01-19 22:05] #12 closed

[2022-01-19 22:05] bohdan-s commented on #11
Resolved in 0.2.9+, will not try and join unless 5+ outputs :)

[2022-01-19 22:05] #11 closed

[2022-01-19 22:16] bohdan-s commented on #10
0.2.10 has support for username + password connections :)

[2022-01-19 22:16] #10 closed

[2022-01-19 22:25] bohdan-s commented on #8
Ahh ok, thats what i thought, it seems the Modbus connection isn't respecting the timeout value, I'll push 0.2.10 today which will work around this. (As well as PVOutput issues..... again.....)

[2022-01-19 22:25] bohdan-s commented on #3
Closing this issue, as Inveter seems to be supported now

[2022-01-19 22:25] #3 closed

[2022-01-19 22:28] rianbk commented on #8
Can confirm, same issue for me :)

[2022-01-19 22:29] bohdan-s commented on #8
Pushed 0.2.10 just now, @rianbk @daloser  thank you for all the testing, hopefully this will stay stable overnight now

[2022-01-19 22:52] bohdan-s commented on #8
Turns out pythin requests does not support threading, which is why there where so many issues.
I have removed threading from the whole SunGather, so each cycle may take longer. To make sure it does not impact performance I have added a warning if it takes longer to run than the interval set. This will probably trigger over night, if so i'll add a way to silence it is expected.
I have also updated

[2022-01-19 23:17] daloser commented on #8
Updated to 0.2.10 - will let you know if I hit any snags. Thanks for your speedy updates and feedback! :-)

[2022-01-19 23:40] dbonnell commented on #8
Yep, I got exactly the same as @daloser overnight.  Failed at 19:14:41 for me then nada after that.

Have updated to 0.2.10.  Thanks again @bohdan-s for being so responsive!

[2022-01-20 00:13] rianbk commented on #8
Updated, processing for me is under 2 seconds so lots of headroom for the interval.

[2022-01-20 00:23] dbonnell commented on #8
Around 1.6s for me on average, but I have just seen one 8.5s scrape.  Not sure why, but it also isn't an issue.
[code]

[2022-01-20 12:40] benni336 opened #14 "[Proposal] Adding Units to Registers"
In Reference to #1 I would like to continue that work and jump in.

I have a PDF showing all available registers and I would start to add missing ones to `registers.yaml`
But additionally I also figured out that it is hard to guess what kind of data is behind each value without knowing units.
Units might be usefull to hand them down the road (influx db tag or mqtt?) and it might make more sense to

[2022-01-20 13:31] bohdan-s commented on #14
Hi Bennie,
If you check the readme you will see I've linked the PDFs of registers.
If you look at the registers.yaml you will see they are all there.
If you set your level option to 3 in config.yaml you will see them all returned ( if supported by your inverter).
I haven't added the unit as I haven't seen a need for it. I have another copy with units in it, but haven't published it as it increases

[2022-01-20 14:24] benni336 commented on #14
Well I I think having units could be handy. Eg. as tags in Influx DB for easier labeling of axis or for Display in Home Automatisation or in the WebOutput. I don't know if it those 3-4 characters per register really blow up the Script size.

If you have it already implemented, maybe you can push that version to another branch. So we keep main-branch clean and future changes can (in theory) simply

[2022-01-20 14:27] benni336 commented on #1
Hi folks,
I had looked at the register.yaml and I have also noticed level 3 output.
But I think there is something wrong there.
SH10RT e.g. has 2 mptts, but on lvl 2 only mptt1 is displayed and on lvl 3 mptt1 to mptt10 are displayed.

In addition starting with level 2, I get the Error Message
[code]

According to the comment in the config.yaml
[code]
I guess here is something wrong in register.yam

[2022-01-20 19:59] benni336 commented on #1
I would like to point out, that I added further registers in my nightly.
(https://github.com/benni336/SunGather/tree/SH_Inverters)
They needed to be tested and so I would be happy for others to review them too.

I do not want to pull anyone away from this great project and I am happy to merge my changes back here asap.

[2022-01-20 20:06] bohdan-s commented on #1
Looks good, if you could post what model you have and PDF you are reading registers off I can upload to my other repo with the other documents here: https://github.com/bohdan-s/Sungrow-Inverter

[2022-01-20 21:18] rianbk commented on #8
@bohdan-s New pvoutput error overnight. Looks like it happened at midnight for me

[code]

[2022-01-20 23:47] benni336 commented on #1
Find it attached.

[Communication Protocol of Residential Hybrid InverterV1.0.22_20201117.pdf](https://github.com/bohdan-s/SunGather/files/7909178/Communication.Protocol.of.Residential.Hybrid.InverterV1.0.22_20201117.pdf)

[2022-01-21 04:31] chainsawbike commented on #1
thanks for your work :)
would it be easy to show the register number alongside the name in the web view? it would make debugging a lot faster for me

[2022-01-21 05:06] bohdan-s commented on #1
Done. Will be in the next release :)

[2022-01-21 08:12] benni336 opened #15 "Register Numbers in Webview"
thanks for your work :)
would it be easy to show the register number alongside the name in the web view? it would make debugging a lot faster for me

_Originally posted by @chainsawbike in https://github.com/bohdan-s/SunGather/issues/1#issuecomment-1018170828_

[2022-01-21 08:14] bohdan-s commented on #15
I should have a new build up next week. Re-writing a bunch of code. I've kept adding new things now need to consolidate and clean it up.

[2022-01-21 08:15] benni336 commented on #15
This would be a great future (maybe together with log level binding)?

Because I currently have a problem. I added register, but they don't seem to show up in consol and webview. :(
... Yes I have adapted scanning. Maybe this feature could help me finding the problem

[2022-01-21 08:16] bohdan-s commented on #15
Yup, wait for the new build. Refactoring code to allow it to do more things :) also adding a file export to log to file for those who want it.

[2022-01-21 08:16] benni336 commented on #15
@bohdan-s . I don't want to put any pressure on you. But could you think about just pushing this into an own branch directly? Like a feature branch or a nightly build?

It would make the work for me a bit simpler as I can directly see your changes (they don't need to work or be good). It's a nightly and I could base my development on your last changes as we are in different time zones and seem to

[2022-01-21 08:18] bohdan-s commented on #15
Sure,
I'm just working on a new build environment to support Raspberry Pi and home assistant then I'll set up a nightly.

[2022-01-21 08:19] benni336 commented on #15
Why is raspberry Pi currently not supported? It's python? Did I miss something?

[2022-01-21 15:20] benni336 opened #16 "[suggestion] Mark calculated values"
Hi all,
I would like to suggest to mark the calculated values that are not originally provided by the inverter for example with an prefix like "calc_".

This is an suggestion. I could do of course for my own version but I would prefere to development forces joined.

[2022-01-21 21:37] benni336 opened #17 "export_power / total_active_power out of range (?)"
Hi,
on a cloudy day with very low power generation (like 10-20W in the WiFi App)
export_power and total_active_power seem to show "wrong" values.
[code]

At first I thought it's an out of range thing (like S32 vs U32). According to the guide they should be both S32. But that didn't help.
I didn't yet dive into the code to figure out where it might come from. Maybe it is also an error within the co

[2022-01-21 21:39] bohdan-s commented on #17
What model do you have?
It seems they are returning -ve values because you are drawing from the grid

[2022-01-21 21:49] benni336 commented on #1
@chainsawbike : Do you have a battery? Can you please give me some feedback on the values presented there? I don't get any values from the battery. But it might be a problem in the setup of the inverter. I will contact my eletrician for that next week to make sure it is not.

[2022-01-22 08:29] benni336 commented on #17
Sh10rt and sh8rt.

[2022-01-23 01:45] daloser commented on #8
after updating to 0.2.10 I had no issues for 2 days; other than a few errors overnight, but restarting SunGather fixed it. However now it no longer updating HA - i have restarted both HA and SunGather but MQTT seems to be recieving nothing. MQTT explorer isn't seeing activity but when i stop HA i get MQTT server connection errors in SunGather, so they are communicating.

The data to the webserver

[2022-01-23 04:58] dbonnell commented on #8
No issues with my HA feed via a standalone Mosquitto broker.  I did see that decoding issue twice a day or two ago but nothing since.

[2022-01-23 05:20] dbonnell commented on #8
There does however appear to be an issue with pvoutput export.  My yield so far today is 31.4 kWh but pvoutput shows 0.345kWh for the daily total.

![image](https://user-images.githubusercontent.com/12192700/150665807-a1cc9dac-b32e-4aa5-a732-75dd406990bf.png)

Drilling into the day in pvoutput is shows more than that, 0.518kWh, for the last 5 minute interval.  I'm not sure if this is a pvoutput or

[2022-01-23 06:13] daloser commented on #8
looks like my issues was the MQTT Integration, removed it and restarted HA, rediscovered the Integration and then restarted SunGather and it was all back up.

[2022-01-23 07:13] dbonnell commented on #8
I re-created config.yaml from config-example.yaml and the only change I made to pvoutput config was the auth and to set c1=1, just as I had before.  After restarting, pvoutput seems to be aggregating deltas of the Energy reported for each interval but it is still not showing total energy for the day.  Switched it to `c1=2` per the new config-examply.yaml and it shows the correct daily total again.

[2022-01-25 00:22] MarkGardiner opened #18 "PVOutput sumbissions stop at midnight"
Hello,

Thank you! Things are going well with my Home Assistant integration and I am loving this script!

I have seen some odd behaviour the past couple of days after updating my script where the PVOut sumbissions start failing after midnight and I get nothing for the next day. My logs look a little like:

As part of my update I also moved to a new config.yaml and tried uncommenting the voltage re

[2022-01-25 00:24] MarkGardiner commented on #18
Is the script batching up a bunch of values, one of which PVOutput just wont accept and thats tripping it all up?

[2022-01-25 00:41] bohdan-s commented on #18
Hi @MarkGardiner long story short, once the clock hits midnight PVOutput stops working until restarting the script.
I am pushing v0.3.0 now which resolves a LOT of outstanding issues. Just check the example-config against your config as a few little things have changed.

[2022-01-25 00:41] bohdan-s commented on #16
@benni336 hi, sounds simple but its not. Some values are provided by some models, but for other models I am calculating the value.
e.g. load_power, since I want to keep the registers simple I dont want to have the possibility of calc_load_power or load_power as it makes the config confusing for new users.
v0.3.0 I just pushed now shows address or ---- if calculated in the console and web-server so

[2022-01-25 00:41] #16 closed

[2022-01-25 00:42] bohdan-s commented on #15
v0.3.0 pushed, has addresses listed in console and web-server output now, as well as the unit type. This should help :)

[2022-01-25 00:42] #15 closed

[2022-01-25 00:53] MarkGardiner commented on #18
@bohdan-s gottit, thank you!

[2022-01-25 00:53] #18 closed

[2022-01-25 01:21] dbonnell commented on #8
pvoutput failed again.  Looks like it never recovered after the last update pushed at 7:15PM 23/1. The log shows the following:
[code]

[2022-01-25 03:28] bohdan-s commented on #14
This is done, check v.0.3.0 :)

[2022-01-25 03:28] #14 closed

[2022-01-25 03:29] bohdan-s commented on #8
@rianbk  @dbonnell  @daloser
Please check v0.3.0 it should resolve all the issues above,
PVOutput I made a mistake so after midnight it would never publish until a restart, this is fixed in 0.3.0

[2022-01-25 03:38] dbonnell commented on #8
Updating now.   Thank you.

[2022-01-25 03:45] bohdan-s commented on #8
Sorry, don't forget to check the example config again, I moved the c1 flag to a different section of the config to simplify it (was causing an issue).

[2022-01-25 05:43] MarkGardiner opened #19 "Dependancy created on the config.yaml 'logger'"
Hey,

Just been following the master branch and noticed that there is no longer a check on the existance of the logger parameter in the config.yaml file:

https://github.com/bohdan-s/SunGather/blob/1b54ae3a708e10478fea6f1270153df6c093bfa5/SunGather/sungather.py#L438

[2022-01-25 06:01] bohdan-s commented on #19
Aahhh thank you, I missed one, moving them all to a central config block.
I’ll for that for next release.

[2022-01-25 06:08] bohdan-s commented on #19
In fact I missed all the defaults there, i'll push 0.3.1 shortly.

[2022-01-25 07:39] dbonnell commented on #8
It was working fine for a couple of hours but then failed and never recovered.  Last interval in pvoutput is 3:10PM which coincides with the first error below at 15:07:49.  Nothing in Grafana from after the same time, so all exports failed.  After the initial failure the logs are full of repeated Modbus errors for each scrape attempt.  I don't think the inverter wifi dropped out and it was connect

[2022-01-25 09:29] benni336 opened #20 "Two scrap values for daily datas"
Hi For SH10RT and SH8.0RT I can confirm that daily values are only updated every 5 min. A scraping time below 5 minutes is therefore "useless". How ever there are othere values that are live values that one might want to scrape, like power_load (consumption of your residencial) mppt voltage, battery power or mppt current.

I want so, that's why I scrape every 30 sec.

If we could confirm this beha

[2022-01-25 09:36] bohdan-s commented on #20
Thanks for the thoughts @benni336
Live values are updated instantly (e.g. active generation and consumption) so reading every 30 secs works.
You are free to set the scan interval to 360 in the settings if you want to reduce the scan time.

There is no point to trying to scan different registers at different times, I am on avg scanning in 1.5s and that is using HTTP scraping of the wifi dongle (my

[2022-01-25 09:36] #20 closed

[2022-01-25 09:50] bohdan-s commented on #19
fixed in 0.3.1 :)

[2022-01-25 09:50] #19 closed

[2022-01-25 09:53] bohdan-s commented on #17
@benni336 Could you try adding "indicator: True" to the total_active_power and export_power settings in the registers.yaml file?
This will check the next register for a value of 0xFF and if so convert -ve to +ve value. If thats the case then your inverter is going -ve. I am guessing when drawing from the battery? If so I will need a way to flag that, let me look at the PDF as well and see if there

[2022-01-25 11:12] rianbk commented on #8
@bohdan-s getting this error, tried new config file

[code]

[2022-01-25 11:19] bohdan-s commented on #8
Easy fix. Sorry I’ll push 0.3.2 with it fixed tomorrow.
Might build a few variations of config files for better testing….

[2022-01-25 11:53] dbonnell commented on #8
sungather.py, line#59 should be:
[code]

[2022-01-25 16:46] benni336 commented on #17
No it has nothing to do with the battery. You can see this for inverter with battery (sh8.0rt) and also without battery (sh10rt)

[2022-01-26 00:44] dbonnell commented on #8
I guess I should have paid attention after I restarted last night.  It failed to connect to the inverter (expected .. inverter wifi goes offline when there's no PV output) and never attempted to reconnect.  The sum total of log output after I restarted it last night until this morning was this:
[code]

It is still not happy:
[code]

[2022-01-26 06:20] mistaoh opened #21 "Cron execution"
If I would set up Cron execution and run sungather as one shot would it still handle the PV output rate limit even though I basically stop and rerun the script?

Huge thanks, awesome work!

[2022-01-26 10:36] benni336 commented on #20
it was not so much about scanning times but more about reducing the data ammount in your database. But you are right. One could also reduce the load by running daily scheduled task.

[2022-01-26 10:41] benni336 commented on #21
I have not checked, but what you say does not really make sense.
The data is stored in an object within the script. When you close the script, the state is lost.

When you use cron, how do you stop scraping? Do you use once only scraping? Why do you want to use cron at all?

[2022-01-26 10:47] bohdan-s commented on #21
@mistaoh there should be no issue running on a cron. If you are worried about PVOuput just set cron to run every 5 mins.

[2022-01-26 17:31] mistaoh commented on #21
@benni336 That's the answer I was looking for, was unsure if it saved the timestamp outside the script and was able to handle it anyway. The reason for cron was to be sure it would be running, I had some problems with an earlier version that something broke and the script stopped.

@bohdan-s I would like it to collect the information at the same rate as it's also used in HA. But I'll close the iss

[2022-01-26 17:31] #21 closed

[2022-01-26 17:33] benni336 commented on #1
I filed a pull request which adds a bunch of SH-Inverter variables. But there is still some todo.

One issue is the start-stop stuff. It is not yet correctly interpreted and it is more complex than for the other inverters. Additionally the status names changed. So e.g. "running" does not reflect the status correctly for SH-inverters.
I will bother with that stuff the next days.
Would be great to h

[2022-01-26 20:10] benni336 opened #24 "InfluxDB: 'NoneType' object has no attribute 'write'"
Is there a known hotfix to this problem?

[2022-01-26 20:35] benni336 commented on #24
Fixed by making sure there are no non scraped values in the config.yaml :(

[2022-01-26 20:35] #24 closed

[2022-01-26 20:38] benni336 opened #25 "default scan intervall changed"
According to code:
        "scan_interval": configfile['inverter'].get('scan_interval',15),

default scan interval has changed to 15 instead of 30 seconds.

[2022-01-26 22:53] bohdan-s commented on #25
Fixed in 0.3.2, thanks :)

[2022-01-26 22:53] #25 closed

[2022-01-27 00:05] dbonnell commented on #8
Reconnected fine this morning and exporting fine, but there were still frequent Modbus connection and decoding errors in the log.  I've just upgraded to SungrowModbusWebClient-0.2.7 but that didn't help.  Here's an example of the Modbus errors.
[code]

[2022-01-27 00:27] bohdan-s commented on #8
I don't have a model that supports modbus, but looking at the other projects they constantly connected and disconnected, so I implemented the same thing.
I am going to clean it up and just connect, and then reconnect only if there is an issue. I think all the connects / disconnects might be too much for the inverter. My HTTP method was falling over with connect/disconnect thats why i excluded the

[2022-01-27 02:17] dbonnell commented on #8
That's what I've just done to see if it makes a difference.  In the `scrape()` method I wrapped the `self.connect()` at the top with a check that `self.client != None` and commented out the `self.close()` after it has scraped the registers.

If it fails to retrieve all of the registers it is calling `self.disconnect()` which will close the connection and reset the client to None, so that should ta

[2022-01-27 03:01] dbonnell commented on #8
Actually, I think the issue was duplicate connections as I first suspected.  Here is a patch of the changes that I made: [0001-Fixed-issues-due-to-multiple-client-connections.txt](https://github.com/bohdan-s/SunGather/files/7947202/0001-Fixed-issues-due-to-multiple-client-connections.txt)

At the top of `connect()` before it calls `self.client.connect()` to open a new connection I first call `self

[2022-01-27 03:06] bohdan-s commented on #8
Thanks, I JUST published 0.3.2 with what i HOPE will fix the issues,
I moved the connection checking to its own function, and changed all calls to that function. Connection is not just connection.
It also adds a log to file option, so can have screen set to INFO and file set to DEBUG. Check the example config again.
I'll review your changes above, since we know they work :) and see if i can merge

[2022-01-27 03:14] dbonnell commented on #8
Updated to 0.3.2 but all I get is the following then it just sits there, nothing more:
[code]

[2022-01-27 04:01] bohdan-s commented on #8
aahhh ok, I can see you are closing after each loop, but not disconnecting. Let me merge that in and see if it works with the HTTP as well

[2022-01-27 04:18] bohdan-s commented on #8
I found the session left open...
I pushed 0.3.2 again, could you test again for me @dbonnell ?

Also can you set the logging to:
  log_console: 'INFO'                       # [Optional] Default is WARNING, Options: OFF, DEBUG, INFO, WARNING, ERROR
  log_file: 'DEBUG'                         # [Optional] Default is OFF, Options: OFF, DEBUG, INFO, WARNING, ERROR

and upload the log if it fails again

[2022-01-27 06:49] dbonnell commented on #8
Will do.  Where will the log file be?

[2022-01-27 06:50] bohdan-s commented on #8
In the folder you run the script from.
I’ll add an option for paths shortly, just need to sort out docker support as well.

[2022-01-27 06:52] dbonnell commented on #8
That seems to have done the trick!
[code]

[2022-01-27 06:56] dbonnell commented on #8
I've noticed this occasionally:
[code]

Might be a timeout?  It fails to upload to PVOutput after that but the next pass says the upload worked, so I think it recovers.

[2022-01-27 07:13] dbonnell commented on #8
I only just noticed that the daily values in Grafana are not correct.  Looks like the problem started on 25/1.
![image](https://user-images.githubusercontent.com/12192700/151308002-9e90d6be-d9d5-4f19-acfa-c24811ef6b3f.png)

Looks like you added a 0.1 scaling to a few of the daily registers in 0.3.0 so I can remove that scaling from the Grafana queries now.

![image](https://user-images.githubuserc

[2022-01-27 08:14] dbonnell commented on #8
Fixed.

![image](https://user-images.githubusercontent.com/12192700/151317797-4a55f567-45dc-4373-b6cd-00d90a091233.png)

Here's the updated Grafana dashboard:

[Solar System.zip](https://github.com/bohdan-s/SunGather/files/7948727/Solar.System.zip)

[2022-01-27 21:55] dbonnell commented on #8
No issues reconnecting this morning.  Seems to be stable again, thank you @bohdan-s

[2022-01-30 17:03] benni336 commented on #21
For the sake of completness, you can either use an Alert in Grafana or InfluxDB (or what ever you are using along the road) to monitor for incoming data. You could monitor the pid of the started process itself.

You could use a dockerised Version of the script with `restart: always`.
 ... to be continued ...

:)

[2022-01-30 20:28] bacco007 opened #27 "MQTT/HA - Zeroing sensors after inverter switches off"
Is it possible to zero out the sensors once the inverter switches off overnight?  It's causing the energy dashboard to think there is something to calculate.

![Screen Shot 2022-01-31 at 07 26 28 am](https://user-images.githubusercontent.com/6810572/151716429-26866a3a-7efe-48a8-97a8-6d0402ca36d0.png)

The grid usage that was applicable just before the inverter switched off last night has been proj

[2022-01-30 21:18] benni336 commented on #27
Are you sure there is a value? I would rather think that your tool is misinterpreting missing values. In Grafana e.g you can configure if you want endpoints of graphs to be connected.
Switch to point style instead of line.

Which tool do you use for display?

[2022-01-30 21:23] bohdan-s commented on #27
@bacco007 there could be a few things happening here.
If the inverter is off then nothing gets uploaded. I.e. it’s like the script isn’t running. If you are using MQTT then that means the system might keep reading the last value if it’s not clearer by the MQTT server. If you are averaging data points then the gap will make things weird.
I did original send 0 instead of not sending anything but tha

[2022-01-30 21:25] bacco007 commented on #27
I'm taking the sensors that SunGather creates automatically when you enable HA in the MQTT config

https://github.com/bohdan-s/SunGather/blob/1a2ca4397c21a08534a4fd25d7da1d4efb112c2a/SunGather/config-example.yaml#L67

[2022-01-30 21:28] bohdan-s commented on #27
Ok, let me add an option for you to MQTT to send 0 for each value rather than not send anything at all.

[2022-01-31 08:59] mistaoh commented on #21
I will look in to the docker version in the future, for now I just run a script that monitors the process and restarts it if's not running as you mention.

[code]
And crontab entry to run it every minute
[code]

[2022-02-03 06:32] rianbk commented on #8
So mine is still failing once a day overnight. Only a restart fixes it

[code]

[2022-02-03 08:09] mistaoh opened #28 "Very high inverter temperature"
Just updated to 3.3 but this was also present in 3.1
I just noticed these temperature spikes on the inverter temperature. I also noticed that the inverter never has a negative temperature even though the outside temperature is around -6°C right now.
![image](https://user-images.githubusercontent.com/89261299/152302710-ff237692-f365-46f8-963f-5c738d1125a6.png)

I turned on logging to file so I can

[2022-02-03 23:04] benni336 commented on #28
Hi mistaoh,

thanks for reporting. Interesting observation.

At first I want to point out that those values don’t have to be wrong.
For my inverters eg the temperature is about 10 degrees hotter than battery temp. Both are sitting next to each other in the even colder garage. So I measured a range of temps from 5( garage, battery) to 15 (inverter).

A lot of inverters on the market do have fans, a

[2022-02-04 00:15] dbonnell commented on #8
@rianbk I've been running for 8 days on the latest version without any failures.  Some of the requirements were updated 8 days ago, including pymodbus>=2.5.3 (8 days ago).  Maybe check they're all up to date.
[code]

[2022-02-04 00:51] bohdan-s commented on #28
@mistaoh Could you confirm the high value for me?
The inverters store registers in a register which is a signed 16 bit integer (according to the doc).
It seems to be stored as an unsigned 16 bit integer.
Non-technical, it should have a value of -32768 to 32767, but instead it is 0 - 65535.
My guess would be is the value you are seeing the "spike" at would be 65535 - the negative temp reading. so 6

[2022-02-04 01:56] bohdan-s commented on #8
@rianbk are you using Docker or Python directly?
Can you confirm you have the latest requirements and what version of SunGather?
I was REALLY hopping the last version was stable, its why I have help off any updates for the last week, I want to get it as stable as possible before making any changes

[2022-02-04 02:57] rianbk commented on #8
Docker, the container auto updates when there is a new version

![image](https://user-images.githubusercontent.com/3753933/152464896-dc876f89-7c0d-46fc-b0be-8184c4ff2dea.png)

[2022-02-04 03:00] bohdan-s commented on #8
Interesting, could you provide the console/log at the time it stops, and then around the time you would expect it to start again?
It should be doing a fresh connection every time it fails, so I am not sure why its not reconnecting.

[2022-02-04 03:05] ratava opened #29 "Home Assistant Addon (HACS)"
Dev issue for  the new HA Addon for Sungather.

Current state is working SunGather under Terminal SSH Docker Session. Working Addon install interface. To Do: Complete Dockerfile to install prerequistes for python.

[2022-02-04 09:28] mistaoh commented on #28
Here are same time period from isolarcloud and home assistant history. I think negative values roll over to maximum values as you mention.
![isolarcloud](https://user-images.githubusercontent.com/89261299/152503964-53b707fd-4382-4bc7-b36a-bdacaf6a4f2f.png)

![image](https://user-images.githubusercontent.com/89261299/152503980-d6a46b63-df7f-44f3-9829-493b67ae9d78.png)

While the Inverter is in stan

[2022-02-04 11:30] benni336 commented on #28
Yep,  I misread the numbers. I thought it was 0-5 degrees.

Maybe temps are calculated in Kelvin 😂😂.

Ok, no just joking. Obviously it is a wrong range. Who will do the commit?

[2022-02-04 11:33] bohdan-s commented on #28
I have code already. I’ll push a “test” channel soon since we seem mostly stable ATM

[2022-02-04 11:40] mistaoh commented on #28
Sounds good! 👍 It's far from critical issue so no point jeopardizing stability for it.

[2022-02-05 09:46] benni336 commented on #29
Hi, can you point out what do you mean by "HA Addon"?

[2022-02-05 09:54] bohdan-s commented on #29
HA = Home Assistant
At the moment it does MQTT and auto discovery. But I would like to fully integrate it so it can be run as an add on instead of standalone script / docker

[2022-02-10 05:41] andres-canello opened #30 "Question: What is 'Inverter Power State' / run_state?"
Mine is OFF most of the time.

Btw, great job, looking forward to Home Assistant support via HACS. :)

[2022-02-10 10:03] benni336 commented on #30
Depending on your inverter run state is not yet fully supported. i am working on making it work with hybrid ones and for them the einstanze currently is just some default value except for some cases.

Can’t say anything about the other inverters though.

[2022-02-11 06:15] andres-canello commented on #30
Thanks, mine is a SG8K-D.

[2022-02-11 06:42] bohdan-s commented on #30
If you could post the console/web output when you know the inverter is running I’ll look at the registers and see why it’s saying OFF.

[2022-02-11 07:33] bohdan-s commented on #30
Hmm, will need to learn what “Derating Run” means. Lol
It seems the inverter is running but at a limited capacity.
I’ll push a patch to flag that as ON since it is running.

[2022-02-11 10:37] andres-canello commented on #30
For what I've read it decreases production if it hits 250v in a period of time. Initially I thought it was related to temp but it's not.

Andres Canello
Principal Program Manager
Azure AD
________________________________
From: bohdan-s ***@***.***>
Sent: Friday, February 11, 2022 5:33:20 PM
To: bohdan-s/SunGather ***@***.***>
Cc: Andres Canello ***@***.***>; Author ***@***.***>
Subject: Re: [bohda

[2022-02-14 07:31] chainsawbike commented on #1
@benni336 no battery yet

it is producing the correct data for the values i would consider important for non battery use so i would say the hybrid series of inverters have working initial support, i am now using this to put data into home-assistant :)

[2022-02-15 01:40] dbonnell commented on #8
@rianbk are you use Watchtower to auto update your Docker container?

[2022-02-19 07:03] rianbk commented on #8
I run this on unraid, so it has a auto update feature, but Watchtower should do the trick.

Things seem to be have running stable for a while now. I have noticed this in the logs however.

[code]

[2022-02-19 07:06] bohdan-s commented on #8
Ha. That’s cool. Either your Timezone is wrong (do the times look right?) or a small amount of power is being generated by the array from the moon.
if the times are right all add some code to drop the data after a moon response so it doesn’t try to keep resubmitting it.

[2022-02-19 09:07] rianbk commented on #8
Timeszone is fine, from the logs it seems to be always happening up to 20mins after midnight. Inverter itself isn't registering any power

[2022-02-19 09:26] bohdan-s commented on #8
Thanks. I’ll have a look at what’s causing it.

[2022-02-26 08:10] benni336 opened #31 "SG10RT"
Hi everyone,
thank you very much for this great tool.
As you know I am using it for SH-Inverters and it works great.

But know I need to work with an SG-Inverter (SG10RT). The WiNetS WebInterfaces is accessable via ethernet. But I do not really get, how it works now and what I have to adapt?
I thought I need to use http instead of sungrow? Can anyone give me a push into the right direct?

[2022-02-26 09:22] bohdan-s commented on #31
Yes, just set to http instead of Sungrow. That’s all you need to do. I wrote a full drop in replacement module to imitate the Sungrow module without any changes :)

[2022-02-27 11:14] benni336 commented on #31
Hi,
I have done so, but it did not work. Sungather gave me an error saying he could not connect.
I than activated DEBUG and could see that I got an "Success" Feedback from the initial connect request returning the device information (SG10RT).
The next message was the error from sungather stating that the connect was not(!) successfull.
I have the feeling that he is not understanding the return cor

[2022-02-27 11:18] bohdan-s commented on #31
It should work. If you could post the debug that would help. Also check the SungrowModbusWebclient PIP is at 0.2.7

[2022-02-27 11:33] bohdan-s commented on #31
So the SungrowModbusWebclient authenticates as a user to the web service to get a token, then does a POST to the Modbus form in the web interface, collects the returned data and adds the required header to appear like a normal modbus response. That means the script code only needs to assume it’s getting modbus data, no matter which of the 3 connection types are used.

[2022-02-28 17:59] benni336 commented on #31
Hi bohdan-s,
thanks for your explenations. That's what I have assumed how it works.

I noticed, that I still have the terminal open and can show you some logs. The logs show you version 0.2.7 in line 11.
This is a test run with a **SH**10, but it was the same for the **SG10** one. Anyway it should work with both, right? :)

[code]

[2022-03-01 09:19] bohdan-s commented on #28
Sure. Just post the registers and I’ll patch them tomorrow for you :)

[2022-03-01 12:40] benni336 commented on #28
I provided a list of out of range values below.
But generally speaking: We know that all signed values below 32000 are okay and that all signed values above should be negative. I recalculated those values manually for some occasions and it works great.

We further have a list of signed Modbus values which we have all put into register.yaml.
From my point of view I have never seen any "working" (co

[2022-03-03 02:53] bohdan-s commented on #28
v0.3.4 should resolve this issue. It was signed values being treated as unsigned.
Please test and let me know

[2022-03-03 02:54] bohdan-s commented on #17
v0.3.4 should resolve this issue. It was signed values being treated as unsigned.
Please test and let me know
Same as https://github.com/bohdan-s/SunGather/issues/28

[2022-03-03 02:55] bohdan-s commented on #8
Can you have a look at 0.3.4 it should hopefully resolve the issue

[2022-03-03 02:55] bohdan-s commented on #1
see: https://github.com/bohdan-s/SungrowModbusWebClient/issues/2
Should be supported now

[2022-03-03 03:08] bohdan-s commented on #30
Hi,
I have fixed this in 0.3.4, please test and let me know if it still shows OFF values when it shouldn't

[2022-03-03 03:58] andres-canello commented on #30
Yep, that worked great. Thanks mate. Where is HACS support in your priority list? :) beer you way it it helps as an incentive

[2022-03-03 04:56] bohdan-s commented on #30
HACS is my main focus :)
There are some limitations with how it works (like having a script constantly running).

[2022-03-04 02:55] rianbk commented on #8
Latest Logs
[code]

[2022-03-04 03:00] bohdan-s commented on #8
Does it reconnect when the sun comes up?
Some models don’t return data when solar isn’t being produced.

[2022-03-04 03:04] rianbk commented on #8
My model operates 24/7 (its one of the new models that do to capture night time usage of grid power).
It just seems to be something that happens when it flicks over to the new day.

[2022-03-04 03:06] bohdan-s commented on #8
Can you run in debug over night and turn on log to file?
It will be big, but might help find what’s happening.

[2022-03-04 03:16] rianbk commented on #8
Updated my config to support the new logging arguments
Getting a permissions error

[code]

Now i know this is probably more of a docker issue but it makes sense cause the container would be read only wouldn't it?
Only issue i see is because that looks like the root folder, i can't pass in a storage config to have it write the logs out to a file system.

[2022-03-04 03:19] bohdan-s commented on #8
Aahhh yes. I need to raise an issue for that. I forgot to redirect the log file in the docker container.
will have to log to console for now. I’ll push a new docker container with fixed logging next week.

[2022-03-04 15:19] puijken opened #32 "SG5.0RS support"
Hello,

Is this guy supported? I hoped it would be very similair to SH5.0RS but unfortunately none of the settings seem to work. Tried various combination in the config file.

Running the docker container if this would be any different.

If you can tell me which config is most likely to work I can post some logging output from the container.
Thanks!

[2022-03-04 18:54] benni336 commented on #32
If you have a WiNet-S Dongle, then http mode should work. (See my sg10rt issue)

[2022-03-04 23:35] rianbk commented on #8
Looks like console logging for my setup rolls over so I only have logs for the last few hours.

[2022-03-05 21:05] puijken commented on #31
I have exactly the same issue with a SG5.0RS - I'm seeing results in the debug log (correct values) but it still shuts down with exactly the same message as benni336 has.

I'm using the docker container - is this running SungrowModbuswebClient 0.3.0 ?

[2022-03-05 21:05] puijken commented on #32
Thanks for the information - i'll close this and follow up in your issue as I'm having exactly the same problem.

[2022-03-05 21:05] #32 closed

[2022-03-05 22:23] bohdan-s commented on #31
Hi, it says "modbus" even for HTTP because is emulating the modbus responses.
What type of inverter is the SG5.0RS?
I think the issue is I don't have the model numbers for that device. I can see SH5.0RS and SG5.0RT.
Could you request the modbus map from Sungrow support (they only give you it if you have the right model registered).

[2022-03-05 22:32] puijken commented on #31
OK I will try to get the information - is there anything I can do myself to pull the data?

It should probably be (almost) identical to the SG5.0RT but the RS is just single phase.

[2022-03-05 22:37] bohdan-s commented on #31
The HTTP connection uses a model number to serve the request. See appendix 6 in this PDF https://github.com/bohdan-s/Sungrow-Inverter/blob/539714f42da0374dcc79c2ae36c96c08cff89a81/Modbus%20Information/Communication%20Protocol%20of%20PV%20Grid-Connected%20String%20Inverters_V1.1.37_EN.pdf
I have the PV and Hybrid list but neither have the RS model.
Easiest way to get the model codes is the modbus f

[2022-03-05 22:41] puijken commented on #31
Hmmm ok I see, good information. I have sent an email to Sungrow - let's see if they reply 👍

[2022-03-05 23:02] bohdan-s commented on #31
Just updated SungrowModbusWebClient to 0.3.2 to remove the requirement for a static model list (this was on my TO DO and I forgot about it).
Bumped SunGather to 0.3.5 to update requirements and Docker.
Give 0.3.5 a try for me and let me know how it goes :)

[2022-03-05 23:39] puijken commented on #31
I was silently thinking the same - since I noticed many registers are the same on Sungrow between models. Container keeps running now and seems to report stuff.

From the webinterface:
[code]

Great stuff! Will check tomorrow how everything reports to MQQT and PVOutput!

[2022-03-07 04:08] bohdan-s commented on #31
v0.3.6 psuhed, with heaps more registers for Hybrid inverters and support for the SG5.0RS inveter

[2022-03-07 04:09] bohdan-s commented on #1
v0.3.6 now should have full support :) registers taken from the current documentation

[2022-03-07 04:09] #1 closed

[2022-03-07 04:11] bohdan-s commented on #8
v0.3.6 now allows the logs to be set for docker, use "-v {wheretoputlogs}/:/logs/".
Lots will be max of 10mb in size and rollover up to 10 times, so allow for 100mb of space.

[2022-03-07 04:11] bohdan-s commented on #17
@benni336 could you test and let me know if this is resolved?

[2022-03-07 04:11] bohdan-s commented on #27
# TO DO, sorry I will resolve this

[2022-03-07 04:12] bohdan-s commented on #28
@mistaoh could you please test with v0.3.6 and let me know if its resolved?

[2022-03-07 04:12] bohdan-s commented on #29
Sorry, this is my next priority.
Have to re-write some code to allow it to run in HA/HACS

[2022-03-07 07:55] mistaoh commented on #28
@bohdan-s
Thanks for the update, I've updated to 0.3.6 and will check. Unfortunately (not really 😊) the weather have improved greatly over here and it's not as cold any longer. But I will have a look to see if I get any negative temperatures if we get some more cold nights.

[2022-03-07 11:40] benni336 commented on #31
Sorry, I am currently short in time. i can not test before weekend

[2022-03-07 11:42] bohdan-s commented on #31
@benni336  don’t be sorry, you have been a huge help! Anytime is fine

[2022-03-07 12:47] puijken commented on #31
Got the new modbus map and documentation from Sungrow today:

[TI_20220111_Communication Protocol of PV Grid-Connected String Inverters_V1.1.39_EN.pdf](https://github.com/bohdan-s/SunGather/files/8197724/TI_20220111_Communication.Protocol.of.PV.Grid-Connected.String.Inverters_V1.1.39_EN.pdf)

[Modbus.pdf](https://github.com/bohdan-s/SunGather/files/8197743/Modbus.pdf)

Hope it can help the further

[2022-03-08 11:13] puijken commented on #31
Updated and tested - works perfect! Thanks a lot.

[2022-03-09 00:14] #31 closed

[2022-03-09 00:23] dbonnell commented on #8
I upgraded to 0.3.6 yesterday and this morning I found my SunGather docker container had terminated.  The last entry in the SunGather log is not particularly illuminating but that is around the time the inverter connection comes back online in the morning, so it may have fallen over when it first got a connection back??
[code]

I logged into the container but couldn't see any useful logs in /var/l

[2022-03-09 02:00] rianbk commented on #8
I've got logging going now so will report back after a night cycle.

[2022-03-09 22:34] rianbk commented on #8
Here is the log from overnight, looks like the errors start near midnight
[SunGather.log.1.txt](https://github.com/bohdan-s/SunGather/files/8218659/SunGather.log.1.txt)

[2022-03-09 23:12] bohdan-s commented on #8
@rianbk AMAZING! thank you, I found the issue, it is using a "daily" total for v1 in the API, which resets over night in the inverter but not the code. I should have a fix today :)

[2022-03-10 00:43] bohdan-s commented on #8
@rianbk v0.3.7 has been released.
Fixes using the cumulative flag in PVOutput :)

No more moon readings :)

[2022-03-10 01:55] dbonnell commented on #8
0.3.7
[code]

[2022-03-10 02:37] bohdan-s commented on #8
@dbonnell thanks, i've re-pushed 0.3.7 with a fix, let me know how it goes. Interesting I didn't touch MQTT lol.
I only removed the versions from the README, they are the same in the requirements.txt for the install

[2022-03-11 03:07] dbonnell commented on #8
@bohdan-s Hmm, interesting.  Seems to have done the trick, thanks.

[2022-03-11 07:06] rianbk commented on #8
Had no issues overnight, will continue to monitor

[2022-03-13 02:25] arfrater commented on #2
I'm  getting this error as well new install and checked MQTT
2022-03-13 12:07:10 ERROR    Failed loading export: 'NoneType' object has no attribute 'replace'
			     Please make sure mqtt.py exists in the exports folder

[2022-03-13 02:56] arfrater opened #33 "Please make sure mqtt.py exists in the exports folder"
Hi
Still getting this error
2022-03-13 12:51:45 ERROR    Failed loading export: 'NoneType' object has no attribute 'replace'
                             Please make sure mqtt.py exists in the exports folder
Failed loading export: 'NoneType' object has no attribute 'replace'
                             Please make sure mqtt.py exists in the exports folder
Checked MQTT settings ok Checked the fold

[2022-03-13 03:29] bohdan-s commented on #33
Thanks. I’m looking into it now. I think it’s a change in the MQTT library.

[2022-03-14 06:41] rianbk commented on #8
Im thinking we are at a point now where we can close this issue ticket. What do we think @bohdan-s @dbonnell

[2022-03-14 08:20] mistaoh commented on #28
@bohdan-s
I can confirm that the issue is solved for me.
Last temperature spike was march seven, before the update. (cant show it since it hides all normal temperatures)
![image](https://user-images.githubusercontent.com/89261299/158131411-bcf2da20-34a8-4ed1-b3ee-9ff770a911d6.png)
I do still get some wierd negative temperature spikes but i suspect that is something from the inverter. I can see som

[2022-03-14 08:48] dbonnell commented on #8
Sounds good

[2022-03-14 22:23] rianbk commented on #8
Issue resolved, Inverter supported.

[2022-03-14 22:23] #8 closed

[2022-03-16 23:34] danielHin opened #34 "SH6.0RT current/daily load (export_to/import_from grid)"
Hi,

@bohdan-s  thanks again for the fast reply on discord. As discussed, SunGather doesn't print out the current consumption/load. You mentioned in the  chat that the hybrid model seem to use different registers which causes the missing data.

It seems 13008, 13010 and 5216, 5218 to be the data I'm searching for

Following the level 3 log with Smart Meter disabled.

I'm having a SH6.0RT connected

[2022-03-17 00:52] benni336 commented on #34
Hi @danielHin ,
I have set up a full functional set of registers in my fork of sungather ( https://github.com/benni336/SunGather/tree/main/SunGather ).
Unfortunately I can currently not push to bodhan's repository as bodhan is going to release some more code in near future. So he asked me to hold my changes back. I will bring my changes to this repo here as soon as bodhan will accept them then.

Y

[2022-03-17 01:04] bohdan-s commented on #34
Those registers all should be in the lastest version of SunGather. Let me know if you spot any missing

[2022-03-17 20:22] danielHin commented on #34
So it already should work or is your comment related to @benni336 comment?

[2022-03-17 22:06] benni336 commented on #34
@danielHin  : I think the comment was meant for me.
Please checkout SH_Inverter register.yaml ( [here](https://github.com/benni336/SunGather/blob/SH_Inverters/SunGather/registers.yaml) ) of my SH_inverter branch. I just checked out of curiousity and when I interpreted to result of my pull request correctly, there is a bunch missing in bohdan-s version.

Unfortunately I never know when it is the ri

[2022-03-17 22:59] bohdan-s commented on #34
@benni336 about 95% of your fork has been merged in :) most diff is extra spaces etc...
If you could do some pull requests but limit it per file then we should be able to merge them all :)
I'll hold off any big changes until you do your pull requests.

[2022-03-19 08:28] arfrater commented on #33
Any luck with this issue yet ??

[2022-03-19 08:49] bohdan-s commented on #33
@arfrater sorry. I'm terrible at updating tickets.
I've had a good play, and can't get mine to fail this week.
Could you post a debug log? Only need the first 30 secs or so.

[2022-03-19 09:24] arfrater commented on #33
Hi @bohdan-s all good. Err stupid question how to get the script to write to a log file ??"

[2022-03-19 09:27] bohdan-s commented on #33
Make sure you are running the latest version, then set "log_file: DEBUG" in the inverter settings of config.yaml.

If you are running docker you will also need to mount /logs/ dir (see the readme).

[2022-03-19 09:28] bohdan-s commented on #33
You could also just set "log_console: DEBUG" and copy paste if you have access to the console / running the script.

[2022-03-19 10:38] arfrater commented on #33
OK in the morning (night time now solar not operating)

[2022-03-19 11:49] arfrater commented on #33
Got this tonight
`2022-03-19 21:48:34 INFO     Loading Export: exports\webserver
2022-03-19 21:48:34 INFO     Webserver: Configured
2022-03-19 21:48:34 INFO     Loading Export: exports\influxdb
2022-03-19 21:48:34 ERROR    InfluxDB: Configured to use total_active_power but not configured to scrape this register
InfluxDB: Configured to use total_active_power but not configured to scrape this regist

[2022-03-19 11:59] arfrater commented on #33
OK interesting if I use the  model: "SG5K-D"  in the config.yaml it connects to the MQTT server ??

[2022-03-22 14:48] benni336 opened #36 "New SH- Modbus Documentation"
Maybe even a newer version is already out there. I personally think the layout got worse

[Communication.Protocol.of.Residential.Hybrid.InverterV1.0.22_20201117.pdf](https://github.com/bohdan-s/SunGather/files/8325326/Communication.Protocol.of.Residential.Hybrid.InverterV1.0.22_20201117.pdf)
|

[2022-03-22 19:04] benni336 commented on #34
@bohdan-s : I have done the rebase work for the register.yaml. and I will move forward. Sorry for beeing absent for a longer time.

I need to apologize also because I claimed bohdhan-s register.yaml is not up to date. In fact it is.
So thanks for merging my stuff into your one (obviously by hand?).
I have added the missing part with pull request #37 .
Best
ben

[2022-03-23 22:33] benni336 opened #38 "Unsupported models from non hybrid modbus documentation"
Hi @bohdan-s ,
[](url)

I just went through the [doc that are uploaded here](https://github.com/bohdan-s/Sungrow-Inverter/blob/main/Modbus%20Information/Communication%20Protocol%20of%20PV%20Grid-Connected%20String%20Inverters_V1.1.37_EN.pdf) and I noticed that `SG85BF, SG80HV, SG80BF, SG110HV-M` are not part of the supported inverters. Is there any reason why those models were excluded?

[2022-03-28 06:57] benni336 commented on #34
@danielHin : even though my change request is not yet accepted, could we resolve your issue, or do you still have any problems?
Best

[2022-03-29 09:59] freman commented on #36
I have a rather large sungrow.yaml built based on that pdf

[2022-03-29 11:32] danielHin commented on #34
Hey,

sorry should have tried it earlier..

I just gave it a try with your register.yml. import_from_grid is calculated now, but its actually my current export to grid. Seems to be swapped? I'm comparing to isolarcloud output. Also register 5216 (export power) is the same value as import_from_grid.

[code]

[2022-03-30 15:24] yoursnack opened #40 "index out of range"
Hi I'm having an issue to read values from an SG40CX. I don't know if I should paste here but just be sure, this is my output on pastebin : https://pastebin.com/SqD1Ep3p

It seems to be reading some values but the output is always 0 or nothing at all. Included here the output of the webserver: https://pastebin.com/n8LkGWP2

Greetings and I hope we can work this out together!

[2022-03-30 21:28] bohdan-s commented on #40
Looks like you have the “encrypted” modbus. Change the setting:
connection: sungrow

[2022-03-30 23:33] dbonnell opened #41 "Typo in README.md"
Small typo in the README ... `Sungow` instead of `Sungrow`.
`... any network connected Sungow Inverter`

[2022-03-31 11:04] yoursnack commented on #40
Hi, thanks for your quick reply. However it gives me practically the same output.

https://pastebin.com/mKh04WpM

Even if I try port 8082, it can connect, send but gets no reply

[2022-03-31 11:13] bohdan-s commented on #40
Remove the port option.
connection: http
;) third time is a charm right?

[2022-03-31 11:27] yoursnack commented on #40
Nope, that also did not work.
https://pastebin.com/Cc8U90yJ
I did a port scan on it and I guess port 80 is not open at all. Is there anything I can do to help find out what it is so others will not be stuck in the future?

Port Scan TCP:
Starting Nmap 7.80 ( https://nmap.org ) at 2022-03-31 12:24 WEST
Nmap scan report for 172.16.2.198
Host is up (0.14s latency).
Not shown: 998 closed ports
PORT

[2022-03-31 11:37] bohdan-s commented on #40
What dongle/Ethernet adapter are you using? Does the data publish to iSolarCloud at the moment?

[2022-04-07 01:00] #41 closed

[2022-04-12 05:10] rark-ha commented on #30
"Derating Run" is when the solar is producing more than can be consumed or exported. For example, my grid only lets me export 5KW so if I produce 8KW and can't consume 3KW it derates.

You used to publish the work_state_1 as an attribute on one of the HA sensors. I had a template sensor setup to pull the work state, and use it to trigger automations (e.g. when Derating, I would turn on the pool pu

[2022-04-12 05:23] rark-ha opened #43 "Inverter Power State incorrectly OFF"
After checking the terminal entries and then logging into the web page, I was logged out of the web page (presumably SunGather was doing it's next scrape).

The reading for run_state started showing OFF when it was in fact ON (confirmed via the web page). I restarted the container to get it to show ON again. Capture of the bug below.

![image](https://user-images.githubusercontent.com/62318984/162

[2022-04-18 10:28] fork04 opened #47 "Wrong voltage is sent to pvoutput.org - total_apparent_power instead of phase_a_voltage"
The good value/variable is sent after script restart then is getting wrong:
![image](https://user-images.githubusercontent.com/19407274/163794730-e3155c0c-002f-45ad-a079-80fbdf29d2ff.png)

my config is:

      - name: v5                            # Ambient temperature see: https://forum.pvoutput.org/t/what-temperature-is-used-to-calcul>
        register: internal_temperature      #
      - name:

[2022-04-19 12:13] lucahammer commented on #30
@rark-ha You can add/edit sensors in the config.yaml yourself. I added it like this:
[code]
Because all sensors get an unit_of_measurement at the moment, Home Assistant doesn't handle it as a discrete value. I am nut sure if your automation needs that. Pull request #48 fixes it.

Back to this issue: My run_state often is incorrectly OFF as well, but I haven't figured out the pattern yet. I will ke

[2022-04-20 00:39] rark-ha commented on #30
Thank you! I've created the MQTT sensor and now have it linked into the automations (they monitor the state change so the UoM issue doesn't affect it).

[2022-05-04 07:38] puijken commented on #43
I can confirm this issue .. I'm using this to parameter in my logic in NodeRED but this morning my values were not reporting -> seemed run_state was still OFF but the inverter was running and producing energy.

[2022-05-13 00:38] dbonnell opened #51 "Random failure MQTT: Server Error; Server not configured"
SunGather 0.3.7 was running happily for the past few days and then this morning I noticed Grafana was empty. On checking the Docker instance I found it had terminated and the last entries in the log were the following:

`2022-05-12 06:32:21 WARNING  MQTT: Server Error; Server not configured
MQTT: Server Error; Server not configured
Traceback (most recent call last):
  File "/usr/src/sungather/sung

[2022-06-02 12:36] michbeck100 opened #53 "Mapping for running_state"
I started using SunGather and I'm thinking to move from modbus4mqtt. Unfortunately it seems that SunGather doesn't support a mapping for `running_state`.
According to the sungrow documentation this is the mapping:
![image](https://user-images.githubusercontent.com/5385572/171630356-c8258767-0afb-4888-bea5-83ce50f45b57.png)
So `running_state` actually contains 8 values.

How can I achieve such a ma

[2022-06-08 08:47] neiser commented on #36
@freman Would you mind sharing this yaml?

[2022-06-16 11:01] michbeck100 commented on #36
There is even a V1.0.23:
[TI_20211231_Communication Protocol of Residential Hybrid Inverter_V1.0.23_EN.pdf](https://github.com/bohdan-s/SunGather/files/8918236/TI_20211231_Communication.Protocol.of.Residential.Hybrid.Inverter_V1.0.23_EN.pdf)

[2022-06-16 23:03] bohdan-s commented on #36
I love seeing all the different ideas and use cases!

@neiser im not sure what advantage your script has? LVL2 in the config.yaml will return the same data for your model (and any other model).
My goal is a tool anyone can run out of the box for any Sungrow model with little to no work / technical skill required. As plug-and-play as I can make it, but as many options to allow more advanced people

[2022-06-17 08:20] neiser commented on #36
@bohdan-s I've tried your python script and observed that it polls the inverter with a fixed delay. That is somewhat unfortunate for prometheus metrics scraping, as one could optimize it such that the inverter is only polled via modbus whenever prometheus is requesting the metrics. Also, I don't know if your script also makes heavy use of optimized reading all registers in one bunch (I've written

[2022-06-19 07:24] bacco007 commented on #27
Did you have any luck with this one?  I'm getting some pretty ridiculous figures because HA is taking the last known values before the inverter switches off

[2022-06-22 05:46] michbeck100 commented on #36
I see the use case for a plain prometheus exporter, but I like the multiple outputs of Sungather. I personally use the mqtt, console and http output. @neiser it would be great to have another output for prometheus. But it should be easy to implement this, since prometheus just needs another format using the http output.

[2022-06-22 06:30] michbeck100 commented on #36
What about this: https://github.com/bohdan-s/SunGather/pull/55

[2022-07-07 03:47] bjeanes commented on #40
I am in a similar position. SH5.0RS using a WiNet-S (version `M_WiNet-S_V01_V01_A`) connected both on WLAN and LAN, trying to connect over LAN connection. `connection: http` works, but neither `sungrow` nor `modbus` work.

It eventually prints out 13 registers, but with predominantly zeroed values:

[code]

[2022-07-07 03:53] bohdan-s commented on #40
@bjeanes the WiNet-S only supports HTTP method. Modbus gives errors or bad data.

[2022-07-07 03:54] bohdan-s commented on #40
@yoursnack sorry for the delay, you can only have 1 session open via HTTP do the dongle (well you can have more but its unstable).
Try restarting the dongle and connecting via HTTP port 80 and it should work.

[2022-07-07 04:12] bjeanes commented on #40
I'm gathering this. Is this likely to be permanent? If so, are you aware of an alternate dongle I can replace to use Modbus directly? I bought this inverter with the intent to send Modbus commands, not just reading registers 😬

[2022-07-07 04:16] bohdan-s commented on #40
Thats up to Sungrow to fix :( Some German users are saying their firmware (v10) is working on the discord.

We "can" write registers via the HTTP method, I just haven't implemented it.

What registers are you interesting in writing to?

[2022-07-07 04:19] bohdan-s commented on #47
@fork04 sorry, can you check this is still happening? it was an issue with the registers file which should now be resolved.

[2022-07-07 04:23] bjeanes commented on #40
I'll email them to add another voice to hassle them about this.

Interesting... When I visit the IP in browser I am asked for an installer login. Perhaps with those credentials Modbus access can be enabled and their installers did so? (wishful thinking on my part, probably).

Oh! Interesting. That might work then.

I'll have to review my notes from a few months ago when researching this. It's been

[2022-07-07 12:53] danielHin commented on #53
Hi, the merge introduced a bug.

`Traceback (most recent call last):
  File "sungather.py", line 584, in <module>
    main()
  File "sungather.py", line 552, in main
    export.publish(inverter)
  File "/src/github/SunGather/SunGather/exports/console.py", line 26, in publish
    print("| {:<7} | {:<35} | {:<20} |".format(str(inverter.getRegisterAddress(register)), str(register), str(value) + " " +

[2022-07-07 15:04] michbeck100 commented on #53
No it happens when reading run_state, which is a custom register without address. It used to have a "virtual" address, but commit bc8493fee93e3c3488930ccc0660a5deef1a455d changed this. This is not because of my changes.

[2022-07-07 15:13] michbeck100 commented on #53
this fixes it again: https://github.com/bohdan-s/SunGather/pull/57

[2022-07-08 14:55] danielHin commented on #53
thy for fixing.

@michbeck100 @bohdan-s
another issue I've just saw.  The newly introduced 'import_from_grid' register in the registers file clashes with the custom 'import_from_grid' register and overwrites the value.

Maybe we rename the running state registers by prefix them with state_ or running_state_ ?

Alternatively we could rename import_from_grid and export_to_grid to custom_*.

 But its

[2022-07-08 15:06] danielHin commented on #53
proposed renaming in #59

[2022-07-08 15:09] danielHin commented on #34
fixed #60

@bohdan-s @benni336
I hope I didn't miss something by assuming that total_active_power and load_power_hybrid is the right values for the calculations.

In case the Battery is empty and no DC power is generated, total_active_power should output 0. Thtas my assumption

[2022-07-12 23:34] bjeanes opened #61 "Firmware update on SH5.0RS results in many registers missing under `http` connection"
I bumped firmware to try to resolve an unrelated issue:

* `SUNSTONE-H03011.02.15` -> `SUNSTONE-H03011.02.22`
* ~AFCI06002.01.02` -> `AFCI06002.01.03`
* ~SUNSTONE-H01011.02.16 -> `SUNSTONE-H01011.02.26`

Since then, many registers are missing when using `http`. Some show up under `modbus`, but that has other issues (like zeroed `running_state`).

Interestingly, the missing registers, such as `grid

[2022-07-12 23:42] bjeanes commented on #61
If need be, I can figure out a way for you to access my inverter's http and websocket.

[2022-07-15 05:52] michbeck100 commented on #53
I think this can be closed now

[2022-07-15 05:52] #53 closed

[2022-07-15 05:55] michbeck100 opened #62 "Support writing holding registers"
I would like to be able to write registers, too.

My idea would be to listen to special mqtt topics and/or HTTP PUT on the webserver.

[2022-07-26 06:14] danielHin commented on #34
fixed by #60

[2022-07-26 06:14] #34 closed

[2022-07-29 08:22] danielHin commented on #43
Hey @rark-ha can you still reproduce this with the latest version of SunGather? there was some work done around this registers, maybe this is fixed now

[2022-07-30 01:11] rark-ha commented on #43
No I can't reproduce this issue now

[2022-07-30 01:11] #43 closed

[2022-07-31 09:59] puijken commented on #43
Unfortunately the issue still seems to exist ... please find below an output from my NodeRED where you can clearly see the inverter is running but it still reports "run_state" = OFF

Inverter = SG5.0RS

![image](https://user-images.githubusercontent.com/77811176/182021025-385b0e14-d64b-4a54-8d52-f71552c61c8a.png)

[2022-08-14 20:22] alangibson-philips commented on #40
Just adding a datapoint. I have a Sungrow SH8.0RT with WiNet-S dongle (firmware version M_WiNet-S_V01_V01_A). Neither modbus nor sungrow connection settings work. However http works perfectly. It even worked when I was logged in to the web app. I was just summarily logged out when connecting with SunGather.

Errors are just a whole lot of

[code]

[2022-08-14 22:57] bjeanes commented on #40
@alangibson-philips update the firmware on the WiNet-S and you will get (admittedly somewhat buggy) Modbus connection working.

The `sungrow` type is misleading (perhaps could be renamed) and is for the encrypted modbus which older SG inverters (or dongles?) used. The new SH##.0RS/T don't use it.

[2022-08-23 19:02] dhavlik opened #74 "pypi Release"
Hi,

it would be great to have releases ready for installation on pypi. I'm in to help you there.

[2022-08-23 19:59] michbeck100 commented on #74
I guess we could add this to the exiting release pipeline: https://github.com/marketplace/actions/pypi-publish

[2022-08-29 04:28] highground88 commented on #29
How is this coming along? Waiting to try it 😁 Thanks

[2022-08-29 07:31] andres-canello commented on #29
I'll be happy to test and buy you beer as well :)

[2022-09-12 13:48] lexleite opened #76 "System not recognizing SG3K-D"
System not recognizing SG3K-D

`
admin@RT-AC68U-A2D8:/tmp/mnt/KINGSTON/entware/home/SunGather-main/SunGather# ./sungather.py -v 10 --runonce > log.txt
2022-09-12 13:19:29 INFO     Starting SunGather 0.3.8
2022-09-12 13:19:30 INFO     Loaded config: config.yaml
2022-09-12 13:19:37 INFO     Loaded registers: /tmp/mnt/KINGSTON/entware/home/SunGather-main/SunGather/registers-sungrow.yaml
2022-09-12 13

[2022-09-15 10:10] lexleite commented on #76
I saw that there was a work to make it work with sg5kd and sg8kd. Are those 2 similar in modbus? I forced it to think that im using sg5kd and it seems to be detecting stuff correctly. Maybe they share the same modbus registers?

[2022-09-15 10:18] michbeck100 commented on #76
Would be interesting what device type code you see when running SunGather: https://github.com/bohdan-s/SunGather/blob/27bf7dcb90d7240539199e41aa335a8c6eb96c91/SunGather/registers-sungrow.yaml#L29
I would personally think that using SG5K-D should return proper results.

[2022-09-15 10:20] lexleite commented on #76
It shows "None" on the webpage

[2022-09-15 10:22] bohdan-s commented on #76
Key part,Unknown Type Code Detected: 290 Just need to add that in to the lookup table and see if I can dig up a offical list of supported registers. Otherwise I’ll just set to the “base” set all models seem to support. Regards,BohdanOn 15 Sep 2022, at 8:20 pm, lexleite ***@***.***> wrote:﻿
It shows "None" on the webpage

—Reply to this email directly, view it on GitHub, or unsubscribe.You are rece

[2022-09-15 10:23] michbeck100 commented on #76
That's obvious because the mapping for your inverter doesn't exist in https://github.com/bohdan-s/SunGather/blob/main/SunGather/registers-sungrow.yaml#L29. If you have auto detection on, it should log a warning `Unknown Type Code Detected`. Do you see this in the logs?

[2022-09-15 10:27] michbeck100 commented on #76
Then please try to add 0x122 to the `datarange` and the correct value and see what happens:

[code]

[2022-09-15 10:29] bohdan-s commented on #76
It will probably not read anything,Since that model has no registers listed. Regards,BohdanOn 15 Sep 2022, at 8:27 pm, Michael Kotten ***@***.***> wrote:﻿
Then please try to add 0x122 to the datarange and the correct value and see what happens:
        - response: 0x122
          value: "SG3K-D"

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you co

[2022-09-15 10:49] michbeck100 commented on #76
Oh, yes. Then just search and replace `"SG5K-D",` with `"SG3K-D","SG5K-D",` 😉

[2022-10-06 01:30] lexleite commented on #47
i think it still happens. I guess this is that same issue with the average. It seems that it is not dividing by the number of events.

[2022-10-06 01:32] lexleite commented on #76
I tried to create the elements for the 3kd with no success. I guess the best option is to copy 5kd to 3kd.

[2022-10-08 12:10] lexleite commented on #47
The problem in the code is on the pvoutput.py on the line regarding the "trim outlier"

[2022-10-15 23:23] cr750 commented on #47
![image](https://user-images.githubusercontent.com/59752521/196011044-4e75a3b1-0936-4b91-9b93-fe8f2b619ca4.png)
I downloaded the latest from GitHub last weekend, so Yes it is still happening.
(Though I did keep my old config.yaml)

[2022-10-21 20:08] danpadure opened #77 "new install module not found"
I can't understand if the problem is with SunGather (I think not) or with SungrowModbusTcpClient or pymodbus

In pymodbus/client there is no sync.py  file.  Only sync_diag.py

Traceback (most recent call last):
  File "/home/dan/SunGather/SunGather/sungather.py", line 3, in <module>
    from SungrowModbusTcpClient import SungrowModbusTcpClient
  File "/usr/local/lib/python3.9/dist-packages/Sungrow

[2022-10-21 20:11] bohdan-s commented on #77
Hi,There seems to be an issue where pymodbus v3 is not supported. In the requirements file force v2 (change >= to ==) and it will work. Will look at a PR to fix shortly. Regards,BohdanOn 22 Oct 2022, at 7:08 am, danpadure ***@***.***> wrote:﻿
I can't understand if the problem is with SunGather (I think not) or with SungrowModbusTcpClient or pymodbus
In pymodbus/client there is no sync.py  file.  O

[2022-10-22 21:09] danpadure commented on #77
it worked
I get something, but only on http mode it's working ok.  In sungrow/modbus mode  I get some data but lots of modbus errors
I am accessing it through the WINET-S wifi dongle
Should I remove the dongle and connect the eth directly to the inverter in it's place?
It's a SG3.0RS  and it has code 9731 = 0x2603
I replaced SG3.0RT with the RS and I get some more information, but I'dd like also t

[2022-10-22 21:40] bohdan-s commented on #77
Correct, the WiNet-S does not fully work with modbus. You will need to use the HTTP method. In fact up until the last firmware update the WiNet-S had no modbus support, now it seems to have “some”. We are all hoping a future update fully resolves/enables modbus support. Regards,BohdanOn 23 Oct 2022, at 8:09 am, danpadure ***@***.***> wrote:﻿
it worked
I get something, but only on http mode it's wo

[2022-10-23 07:45] elektrinis opened #78 "Meter: incorrect readings"
I have a Sungrow SH10RT (10kW hybrid) with battery and smart meter.
I get many values from the inverter that seem good, however meter-related numbers are way off.
I am running SunGather v0.3.7.
![Screenshot 2022-10-23 103807](https://user-images.githubusercontent.com/15337792/197380524-f91e2ffb-3805-454e-a552-48e64912508a.png)

[2022-10-24 14:18] #77 closed

[2022-10-24 14:19] danpadure commented on #76
I just managed to do something similar for my SG3.0RS

[2022-10-27 14:37] elektrinis opened #79 "Hidden registers?"
Not really an issue, however I have two observations:
1. Looks like there are hidden registers, not provided in the documentation and not being used by SunGather
2. Most values just don't add up on my SH10RT.

1: As seen on screenshots below (iSolarCloud app), there are extra registers like `Total Backup Power` and per-phase `Backup` power. I can't find this data in official register map (the PDF)

[2022-10-30 10:01] dhavlik opened #80 "This nights clock change lead to freeze sungather"
Somehow sungather stopped working with the first scrape which took place after the clock change. See log:

[code]

There were no new log entries after the last one.

[2022-10-30 10:28] dhavlik commented on #80
See https://github.com/bohdan-s/SunGather/pull/81 for a fix.

[2022-11-06 09:13] SamKBEL commented on #33
I had the same issue.

The problem is that my system is not autodetected. I have a SG4.0RS and it is not in the list https://github.com/bohdan-s/SunGather#supported.

I corrected by manually set the device name.

May be add a check in the device name and add a error message.

Thank for your work

[2022-11-13 14:25] dervomsee opened #85 "Sungrow SH10RT-112 'index out of range' error"
Hi,
i received last week my SHRT10-112 with the 9,6kWh Battery. The SHRT10-112 is a SH10RT with slightly modified hardware (or suppliers of hardware). [Differences and Compatibility of SHRT and SBR versions.pdf](https://github.com/bohdan-s/SunGather/files/9997424/Differences.and.Compatibility.of.SHRT.and.SBR.versions.pdf).

I'm using just ethernet connection, no WiFi connection. When connectin to

[2022-11-13 14:37] dervomsee commented on #85
With `connection: http` it works, partially... But many values are zero, e.g. daily_running_time=0 makes no sense.

[code]

[2022-11-14 05:48] michbeck100 commented on #85
Can you tell which values are missing? I would expect these to be the cause for the error. But without having an inverter to test it will be difficult to fix this. Could find any modbus documentation on the newer V112?

[2022-11-15 10:51] dervomsee commented on #85
Hmm, maybe most of it was a configuration error.
When using 'connection: sungrow' and connecting to the integrated ethernet port (not the WiNet-S port) i get no errors.

Some values are zero, but they are for me not relevant. E.g. daily_running_time, pv_power_of_today, daily_pv_energy_yields, direct_power_consumption_today_pv, .. They are zero. But i can calculate them in influx too.
![grafik](htt

[2022-11-16 03:04] bohdan-s commented on #85
Merged #87

[2022-11-16 03:04] #85 closed